bgImg( name )
    $url = $bucket + name
    background-image: url( $url )

fadeBgImg( name, duration=.4s )
    content: ''
    display: block
    bgImg( name )
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -1
    animation: fadeIn duration ease-in-out
    



    