bgImg( name )
    $url = $bucket + name
    background-image: url( $url )

listCircle( color )
    content: ""
    position: absolute
    width: 5px
    height: 5px
    background-color: color
    top: .5rem
    left: -1rem
    border-radius: 50%