// colors

$blue = #155D75
$gold = #c98702
$light-gold = #fce1ac
$edit-red = rgba(169, 23, 23, .7)
$edit-green = rgba(57, 132, 57, .8)
$negative-red = #f00;

$fd-green = #76bf56
$sun-yellow = #ffc502 //rgb(255,197,2)
$sun-red = #ed1c24 //rgb(237,28,36)
$light-grey = #e7e7e7
$yellow = #ffdd14
$dark-blue = #231f20
$orange = #f8941e
$pale-yellow = #fffa99

//google cloud image bucket

$bucket = 'https://storage.googleapis.com/double-quill-3243/'
