// colors

$blue = #155D75
$gold = #c98702
$light-gold = #fce1ac
$edit-red = rgba(169, 23, 23, .7)
$edit-green = rgba(57, 132, 57, .8)
$negative-red = #f00;

$fd-green = #76bf56
$sun-yellow = #ffc502
$sun-red = #ed1c24//#a20903//#a80000
$orange = #f49521
$sun-red2 = #cc0001
$light-grey = #f9f9f9
//header-list-hover = #ed1c24
//h1 = #fd080f

//google cloud image bucket

$bucket = 'https://storage.googleapis.com/double-quill-3243/'
