// colors

$blue = #155D75
$gold = #c98702
$light-gold = #fce1ac
$edit-red = rgba(169, 23, 23, .7)
$edit-green = rgba(57, 132, 57, .8)
$negative-red = #f00;

$fd-green = #76bf56
$sun-yellow = #ffc502
