<div data-js="container" class="csa-class client-view">
    <h2>What is CSA?</h2>
    <p><strong>Community Supported Agriculture (CSA)</strong> is a direct farm to table program which allows you to become involved in Patchwork Gardens for a full season, enjoying benefits and sharing information that regular customers don’t often see.  You’ll receive a generous box of fresh produce, with the option of adding specialty items, like extra fresh greens, or freshly baked bread to your weekly share.  This horn of plenty allows you to enjoy only foods that are fresh and in-season, as well as the opportunity to learn about interesting heirloom produce varieties and creative recipes – <strong>all the while knowing exactly who and where your food comes from.</strong></p>

    <figure>
        <img src="/static/img/cornucopia2.jpg">
        <figcaption>A spread of delicious CSA crops from Fall 2015</figcaption>
    </figure>

    <h2>How do I know if Patchwork Garden’s CSA Program is right for me?</h2>
    <p>Although we can’t say enough good things about our CSA program, we realize it is not the best fit for all eaters.  The CSA would be a great option for you if you agree with a number of the following statements:</p>
    <ul>
        <li>I want to know my farmer</li>
        <li>My diet includes a substantial quantity of vegetables</li>
        <li>I have a desire to eat the freshest and best tasting produce available</li>
        <li>I want to eat a large variety of produce</li>
        <li>I have a desire to eat according to the seasons</li>
        <li>I want to support a local business</li>
        <li>I have an ability and/or interest to prepare meals</li>
        <li>I have a willingness to try new foods and recipes</li>
        <li>I want to eat non-GMO and chemical-free produce</li>
    </ul>
    <p>Don’t be discouraged If you aren’t currently a pro at preparing veggies at home. We provide help along the way with informative newsletters and recipe suggestions. If your diet doesn’t include the most vegetables but you’d like to eat more, why not get started with a small share this year?</p>

    <hr>

    <h2>What does a box contain and what size share would be a good fit?</h2>
    <p>For the best value, we suggest purchasing a large share. We recommend large shares for families or two vegetarians and small shares for single folks, depending on the quantities of vegetables you eat.</p>
    <p>An example of a Large share would include:</p>
    <ul class="first-column">
        <li>1 head of lettuce</li>
        <li>1.5 lbs tomatoes</li>
        <li>1.5 lbs eggplant</li>
        <li>1 lb sweet peppers</li>
        <li>1 lb beans</li>
        <li>6 ears of corn</li>
    </ul>
    <ul class="second-column">
        <li>1.5 lbs summer squash</li>
        <li>2 lbs green cabbage</li>
        <li>2 lbs potatoes</li>
        <li>1 head of garlic</li>
        <li>1 bunch of cilantro</li>
        <li>and a sunflower!</li>
    </ul>
    <p>This box has a retail value of about $30. Small shares will receive a smaller variety of fruits and vegetables. We try to do our best to have plenty of everything we grow to provide a satisfying box for all of our members. However, in the event that particular fruits or vegetables are in limited supply, large shares will receive preference.  This is one reason to consider a Large share if appropriate for your eating habits.</p>
