<div class="employment-class client-view" data-js="container">
    <div class="volunteer">
        <h2>Volunteer</h2>
        <p>Want to help out at Patchwork Gardens?  Throughout the growing season, there are a variety of opportunities for those who would like to lend a hand.  To share your interest in volunteering with us, please fill out the Patchwork Gardens <a href="https://docs.google.com/forms/d/1GuFrGKvpzJaFY5Dhz3kBsIy_AaY6xZ3NzuqTzvOFmrw/viewform">Volunteer Form</a>.</p>
    </div>

    <hr>

    <div class="internships">
        <h2>Internships</h2>
        <p>Patchwork Gardens is happy to offer internship opportunities for those interested in immersing themselves in the work and lifestyle of chemical-free farming.  We prefer candidates who are able to work full time (40-60 hours/week) and willing to stay with us for the length of the growing season (mid-April - November).  We work also in the Winter months and we welcome applicants to contact us at any time during the year.  The right person could have the opportunity to become a long-term partner in the farm.  We are a young and fun group, learning fast and making progress in our first seven years of growing.  We are fast-expanding in the Dayton area and we seek applicants whose energy will help us grow our business.</p>
        <h3>Major duties could include:</h3>
        <ul>
            <li>Starting plants from seed and transplanting seedlings into the garden</li>
            <li>Preparation and maintenance of garden including tilling, broadforking, spreading manure, watering, weeding and mulching</li>
            <li>Harvesting, cleaning, packing, and delivering produce for our CSA, wholesale customers, and farmers markets</li>
            <li>Sharing in responsibility of feeding, watering, and other care of livestock (chickens, pigs, sheep)</li>
            <li>Providing assistance with construction projects and maintenance of farm infrastructure</li>
        </ul>
        <h3>Desired Qualifications</h3>
        <ul>
            <li>Knowledge of and experience with growing vegetables without added chemicals</li>
            <li>Strong work ethic and desire to learn</li>
            <li>Self-motivated and willing to take initiative</li>
            <li>Attention to detail and efficiency</li>
            <li>Creativity and love for a sustainable lifestyle</li>
        </ul>
        <h3>Compensation</h3>
        <ul>
            <li>Meals including fresh produce from the farm, grass-fed beef and pork, pastured chickens, and raw-milk, all raised responsibly and locally by friends</li>
            <li>Housing in the renovated loft of our reconstructed 100+ year old barn is available but not required</li>
            <li>Weekly stipend increasing with length of stay and performance</li>
    </div>

    <hr>

    <div class="employment">
    </div>
</div>