<div class="employment-class client-view" data-js="container">
    <div class="volunteer">
        <h2>Volunteer</h2>
        <p>
        filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space.
        </p>
    </div>
    <hr>

    <div class="internships">
        <h2>Internships</h2>
        <p>
        filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space.
        </p>
    </div>
    <hr>

    <div class="positions">
        <h2>Available Positions</h2>
        <p>
        filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space. filler text here just fillin' up space.
        </p>
    </div>
</div>