<nav data-js="container" class="row">
    <div class="pull-right hidden-xs">
        <span data-js="name"></span>
        <label>
            <button data-js="signoutBtn" class="btn btn-default hide">Sign Out</button>
        </label>
    </div>
    <div data-js="mobileHeader" class="visible-xs-block mobile-header"></div>
</nav>
