<div class="locations-class row" data-js="container">
    <div class="markets">
        <h2>Farmer's Markets</h2>
        <p>
        For the past 7 years, PWG has been attending Yellow Springs Saturday market.  By doing so, we have formed friendships and positive relationships with many customers.  We are pleased to be a reliable source of fresh, healthy food for those who prefer to purchase through the weekly market.
        </p>
        <p class="business"><span>Yellow Springs Saturday Market</span><br>
        101 S. Walnut St. (Corner Cone parking lot)<br>
        Yellow Springs, OH 45387<br>
        Hours: Sat 8am-12pm, mid-May through Thanksgiving
        </p>
    </div>
    <div class="horizontalrule"></div>

    <div class="retail">
        <h2>Retail Outlets</h2>
        <p>
        PWG currently partners with two retail outlets in order to provide produce to an expanded customer-base, and to complement the goods and services being provided by other businesses.  You can buy our produce on a weekly basis at the following outlets:
        </p>
        <p class="business"><span>Olympia Health Food Store</span><br>
        4077 E. Town and Country Rd.<br>
        Kettering, OH 45429<br>
        (937) 293-4244<br>
        Hours: Mon-Fri 10am-7:30pm, Sat 10am-5pm, Sun 12pm-5pm
        </p>
        <p class="business"><span>E.A.T. Food for Life</span><br>
        1120 Wayne Ave.<br>
        Dayton, OH 45410<br>
        (419) 336-5433<br>
        <a href="mailto:dan@eatfoodforlife.com">dan@eatfoodforlife.com</a><br>
        Hours: Sat 8am-12pm
        </p>
    </div>
    <div class="horizontalrule"></div>

    <div class="restaurants">
        <h2>Restaurants</h2>
        <p>
        We love being able to provide our region’s restaurants with healthy, locally-grown, and seasonal produce.  PWG sells to restaurants whose owners, chefs, and cooks value using local, chemical-free ingredients.  We strive to offer an abundance and wide variety of high-quality vegetables and fruits to our buyers all year long.  See the following list of restaurants who cook with PWG produce:
        </p>
        <ul>
            <li><span>Antioch College</span> dining halls</li>
            <li><span>Corner Kitchen</span>: 613 E. 5th St., Dayton, OH 45403</li>
            <li><span>Harvest Mobile Food Truck</span>: <a href="mailto:Pat@harvestmobilecuisine.com">Pat@harvestmobilecuisine.com</a> or (937) 475-7423</li>
            <li><span>La Pampa Catering</span>: <a href="mailto:gitanorios77@gmail.com">gitanorios77@gmail.com</a> or (937) 767-1649</li>
            <li><span>Lily’s Bistro</span>: 329 E. 5th St., Dayton, OH 45402</li>
            <li><span>Lucky’s Taproom and Eatery</span>: 520 E. 5th St., Dayton, OH 45402</li>
            <li><span>The Meadowlark Restaurant</span>: 5531 Far Hills Ave., Dayton, OH 45429</li>
            <li><span>Rue Dumaine Restaurant</span>: 1061 Miamisburg Centerville Rd., Dayton, OH 45459</li>
            <li><span>Season’s Bistro and Grille</span>: 28 S. Limestone St., Springfield, OH 45502</li>
            <li><span>The Shakery Juice Bar</span>: (937) 938-0540 or <a href="mailto:theshakeryjuicebar@gmail.com">theshakeryjuicebar@gmail.com</a></li>
            <li><span>Sunrise Cafe</span>: 259 Xenia Ave., Yellow Springs, OH 45387</li>
            <li><span>Wheat Penny Oven and Bar</span>: 515 Wayne Ave., Dayton, OH 45410</li>
            <li><span>Winds Cafe</span>: 215 Xenia Ave., Yellow Springs, OH 45387</li>
        </ul>
    </div>
    
</div>