<form class="form-horizontal">
    {{#each loginFields}}
        <div class="form-group">
            <label for="{{this.name}}" class="col-sm-3 control-label">{{this.label}}</label>
            <div class="col-sm-9">
                <input type="{{this.type}}" class="form-control" id="{{this.name}}">
            </div>
        </div>
    {{/each}}
</form>