<div data-js="container" class="col-sm-10 col-sm-offset-1 resource">
    <div class="sub-heading">
        <span data-js="subHeading"></span>
        <button data-js="createBtn" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
        </button> 
    </div>
    <div class="row mytable">
        <button data-js="editBtn" class="btn btn-primary edit-btn hide">
            <span class="glyphicon glyphicon-pencil"></span>
        </button> 
        <button data-js="deleteBtn" class="btn btn-primary delete-btn hide">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <table data-js="table">
            <thead data-js="header">
                <tr class="clearfix">
                    {{#each fields}}
                        <th class="w{{this.width}}" data-sort="{{this.name}}">{{this.label}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody data-js="body"></tbody>
        </table>
    </div>
</div>
