<li>
    <h4>{{share}}</h4>
    <hr/>
    {{#each options}}
        <div>
            <span>{{label}}</span>
            {{#each options}}
                <span>{{label}}</span>
            {{/each}}
        </div>
    {{/each}}
</li>
