<div class="bio clearfix">           
    <img src="/file/{{tableName}}/image/{{id}}" alt="Staff photo">
    <div class="inner">
        <h3>{{name}}</h3>
        <div>{{profile}}</div>
    </div>
</div>
<hr>
