.about-class {
    
    margin: 25px 5% 75px 5%;

    #aboutName {
        clear: both;
    }

    h2 {
        font-size: 26px;
        line-height: 1.2em;
        letter-spacing: 1px;
        color: #555;
        margin: 0 0 .5em;
    }

    p {
        font-size: 15px;
        line-height: 1.5em;
        text-align: left;
        color: #666;
    }
    
}