.admin {
    margin-top: 5rem;

    .modal { 
        .modal-body {
            .upload-wrap {
                margin-right: 5px;
            }
            
            .preview {
                height: 50px;
            }
        }
    }
}
