.csa-class {

    h2 {
        color: #c98702;
    }

    h3 {
        text-align: center;
    }
    
    figure {
        margin: 0 auto;
        padding: 20px 0;

        img {
            height: auto;
            width: 100%;
            margin: 0 auto;
        }

        figcaption {
            text-align: center;
            font-style: italic;
        }
    }

    ul {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 10px;
        li {
            margin-bottom: 3px;
            color: #155D75;
            list-style-type: circle;
        }

    }

    @media only screen and (max-width: 375px) {
        .first-column {
            margin-bottom: 0;
        }
        .second-column {
            margin-top: 0;
        }
    }
    
}
