.get-involved-class {
    
    ul {
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 15px;
        li {
            color: #155D75;
            list-style-type: circle;
            margin-left: 15px;
        }
    }

    h3 {
        margin-top: 1em;
        color: #c98702;
    }
    
}
