.header-class {

	margin: 0 auto;
	

	.navbar {		
		
		height: 500px;
		width: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		color: #666;
		margin: 0 auto;

		.home & {
			background-image: url('/static/img/bucket_in_field.jpg');
		}

		.signup & {
			background-image: url('/static/img/greens.jpg');
		}

		.about & {
			background-image: url('/static/img/ole_barn.jpg');
		}

		.locations & {
			background-image: url('/static/img/broccoli_bucket.jpg');
		}

		.members & {
			background-image: url('/static/img/dog_with_chard.jpg');
		}

		.employment & {
			background-image: url('/static/img/sun_on_tractor.jpg');
		}

		.contact & {
			background-image: url('/static/img/grazing_sheep.jpg');
		}

		.navbar-nav {
			
			text-align: center;
			margin: auto;

			li {
				display: inline-block;
				float: none;
				margin: 0 16.5px;
				text-align: center;
				font-family: "proxima-nova";
				font-weight: 300;
				font-style: normal;
				font-size: 15px;
				line-height: 2em;
				text-transform: uppercase;
				letter-spacing: 2px;
				cursor: pointer;

				.locations & {
					color: #A5C329;
				}
			}
		}
	}

	.header-title {

		ul {
			margin: 5px auto;
			cursor: pointer;
		}

		.site-title-text {
			width: 100%;
			display: inline-block;
			color: black;
			font-family: "Raleway";
			font-size: 60px;
			@media only screen and (max-width: 475px) {
				font-size: 45px;
			}
			@media only screen and (max-width: 325px) {
				font-size: 30px;
			}
			line-height: 1em;
			text-transform: uppercase;
			text-align: center;
			font-weight: 100;
			font-style: normal;
			margin: 0 auto;

			.locations & {
				color: #C7E53E;
			}
		}

		
	}

}



