.header-class {
				
	height: 475px;
	@media only screen and (max-width: 500px) {
		height: 315px;
	}
	width: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	color: #666;
	position: relative;

	.home & {
		background-image: url('/static/img/bucket_in_field.jpg');
	}

	.signup & {
		background-image: url('/static/img/greens.jpg');
	}

	.about & {
		background-image: url('/static/img/ole_barn.jpg');
	}

	.csa & {
		background-image: url('/static/img/veggies_on_table.jpg');
	}

	.markets & {
		background-image: url('/static/img/broccoli_bucket.jpg');
	}

	.members & {
		background-image: url('/static/img/dog_with_chard.jpg');
	}

	.employment & {
		background-image: url('/static/img/sun_on_tractor.jpg');
	}

	.contact & {
		background-image: url('/static/img/grazing_sheep.jpg');
	}

	.navbar-collapse {
		width: 100%;
		border: none;

		.navbar-nav {

			text-align: center;
			width: 100%;
		
			@media only screen and (max-width: 767px) {
				position: absolute;
				width: 90%;
				top: 50px;
				left: 5%;
				margin: 0;
				
			}

			>li:first-child {
				@media only screen and (min-width: 768px) {
					display: none;
				}
			}

			li {

				@media only screen and (max-width: 767px) {
					height: 100%;
					background-color: #131313;
					color: #ccc;
					display: block;
					border: 1px solid #ccc;
					float: none;
					width: auto;
					margin: 0;
					line-height: 2em;
				}

				display: inline-block;
				float: none;
				margin: 0 16.5px;
				text-align: center;
				font-size: 15px;
				font-weight: 500;
				line-height: 2em;
				text-transform: uppercase;
				letter-spacing: 2px;
				cursor: pointer;

				.markets & {
					color: #E0F78D;
					font-weight: 700;
				}

				.csa & {
					color: #D4800E;
					font-weight: 700;
				}

				.members & {
					color: #8C3733;
				}

				.employment & {
					color: #966F70;
				}
			}
		}
	}
	
	.header-title {

		ul {
			margin: 10px auto;
			cursor: pointer;
		}

		.site-title-text {
			width: 100%;
			display: inline-block;
			color: black;
			font-family: "RalewayRegular";
			font-size: 60px;
			font-weight: 550;
			@media only screen and (max-width: 500px) {
				font-size: 45px;
			}
			@media only screen and (max-width: 400px) {
				font-size: 30px;
			}
			line-height: 1em;
			text-transform: uppercase;
			text-align: center;
			margin: 0 auto;

			.markets & {
				color: #C7E53E;
			}

			.csa & {
				color: #BF5A03;
			}

			.signup & {
				color: #413137;
			}

			.members & {
				color: #5B050F;
			}

			.employment & {
				color: #4B2531;
			}
		}
	}

}



