.home-class {

    h4 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 4rem;
        margin: 15px auto;
        text-align: center;
    }

    h3 {
        text-align: center;

        .signup-btn {
            color: #398439;
            font-size: 2rem;
            font-weight: 700;
        }
    }

    .carousel {
        margin: 45px auto;
        width: 85%;

        .carousel-inner img {
            width: 95%;
            height: 475px;
            margin: auto;
        }
    }

    @media only screen and (max-width: 675px) {
        .carousel .carousel-inner img {
            height: 325px;
        }
    }

    @media only screen and (max-width: 425px) {
        .carousel .carousel-inner img {
            height: 225px;
        }
    }

    @media only screen and (min-width: 1150px) {
        .carousel .carousel-inner img {
            height: 650px;
        }
    }

    @media only screen and (min-width: 1500px) {
        .carousel .carousel-inner img {
            height: 800px;
        }
    }

}
