.signup {

    .header {
        margin-bottom: 30px;
        font-size: 2rem;
        line-height: 2rem;
    }

    .intro {
        margin-bottom: 30px;
    }

    .nav {
        font-size: 2rem;
        margin-bottom: 30px;
        margin-top: 30px;

        .glyphicon {

            cursor: pointer;

            &:hover {
                color: rgba(201, 135, 2, 1);
            }
        }
    }

    .shares {
        padding: 30px 30px 0px 30px;
        text-align: center;

        &.has-error {
            border: 1px solid #a94442;
            border-radius: 15px;
        }

        .share {
            border: 2px solid black;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            font-family: "RalewayRegular";
            padding: 10px;

            &:hover {
                background-color: rgba(201, 135, 2, .1)
            }
            
            &.selected {
                background-color: rgba(201, 135, 2, .2)
            }

            >div {
                &:first-child {
                    font-size: 1.25rem;
                }

                &:nth-child(2) {
                    color: #155D75;
                    font-size: .75rem;
                }
            }
        }
    }

    .member-info {

        .help-block {
            text-align: center;
            font-size: .75rem;
        }
    }
    
    .delivery {
        
        .delivery-option {
            border: 2px solid black;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            font-family: "RalewayRegular";
            padding: 10px;

            &:hover {
                background-color: rgba(201, 135, 2, .1)
            }
            
            &.selected {
                background-color: rgba(201, 135, 2, .2)
            }
        }
    }
}

.error {
    color: #a94442;
    display: none;
    margin-top: 30px;

    .has-error & {
        display: block;
    }
}

