.signup-class {

    hr {
        margin: 1em;
    }

    .header {
        margin-bottom: 30px;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        font-family: "Raleway-Regular";
    }

    .heading {
        line-height: 1.2em;
        padding: 20px 10px;
        border-bottom: 1px solid;
        margin-bottom: 30px;
        font-family: "Raleway-Regular";
    }

    .intro {
        color: #c98702;
        font-size: 2rem;
        font-weight: 400;
        font-family: "Raleway-Regular";
        text-align: center;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    .nav {
        font-size: 2rem;
        margin-bottom: 30px;
        margin-top: 30px;

        .glyphicon {

            cursor: pointer;

            &:hover {
                color: rgba(201, 135, 2, 1);
            }
        }

        .glyphicon-chevron-right:after {
            content: "Next";
            font-size: 22px;
            font-weight: 500;
            position: absolute;
            top: 3px;
            right: 40px;
        }

        .glyphicon-chevron-left:after {
            content: "Back";
            font-size: 22px;
            font-weight: 500;
            position: absolute;
            top: 3px;
            margin-left: 6px;
        }
    }

    .shares {
        padding: 30px 30px 0 30px;
        text-align: center;

        &.has-error {
            border: 1px solid #a94442;
            border-radius: 15px;
        }

        .share {
            width: 155px;
            background-color: darken(white, 5%);
            color: #c98702;
            border: 1px solid #bbb;
            border-radius: 10px;
            box-shadow: 1px 2px 5px #ccc;
            cursor: pointer;
            display: inline-block;
            font-family: "RalewayRegular";
            padding: 10px;
            margin: 5px;

            &:hover {
                background-color: rgba(201, 135, 2, .1);
            }
            
            &.selected {
                background-color: rgba(201, 135, 2, .3);
            }

            >div {
                &:first-child {
                    font-size: 1.25rem;
                }

                &:nth-child(2) {
                    color: #155D75;
                    font-size: .75rem;
                }
            }
        }
    }

    .member-info {
        border: 1px solid #666;
        border-radius: 5px;
        background-color: #f7f7f7;

        .help-block {
            text-align: center;
            font-size: .75rem;
        }
    }

    .share-options {
        border: 1px solid #666;
        border-radius: 5px;
        padding-top: 10px;
        background-color: #f7f7f7;

        .header {
            padding-bottom: 15px;
            margin-bottom: 0;
        }

        .price {
            color: black;
            text-align: center;
            font-family: "Raleway-Regular";
            font-size: 1.2rem;
            padding-bottom: 35px;
        }

        .single-share {
            padding-top: 35px;
            padding-bottom: 15px;
            border-top: 1px solid;
        }

        .share-label {
            font-family: "Raleway-Regular";
            font-size: 1.1rem;
            
            >div {
                &:first-child {
                    color: #c98702;
                }

                &:nth-child(2) {
                    color: #155D75;
                }
            }
        }

        .share-option {

            .option-total {
                color: #666;
                margin-left: 5px;
            }

            div:first-child {
                color: #155D75;
            }
        }



    }
    
    .delivery {
        border: 1px solid;
        border-radius: 10px;
        background-color: darken(white, 3%);

        .header {
            margin: 15px 0
        }

        .delivery-options {
            padding: 25px 0;
            border-top: 1px solid;


            .share-label {
                font-size: 1.1rem;
                font-family: "Raleway-Regular";
                color: #c98702;
                >div:nth-child(2) {
                    color: #155D75;
                }
            }
            
            .delivery-option {
                background-color: darken(white, 6%);
                box-shadow: 1px 2px 5px #ccc;
                border-radius: 10px;
                cursor: pointer;
                display: inline-block;
                font-family: "RalewayRegular";
                padding: 10px;
                margin: 5px;
                
                >div {
                    &:first-child {
                        color: #c98702;
                    }

                    &:nth-child(2) {
                        color: #155D75;
                    }
                }

                &:hover {
                    background-color: rgba(201, 135, 2, .1);
                }
                
                &.selected {
                    background-color: rgba(201, 135, 2, .3);
                }
            }
        }
    }

    .dropoff {
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        font-family: "RalewayRegular";
        padding: 10px;

        &:hover {
            background-color: rgba(201, 135, 2, .1);
        }
        
        &.selected {
            background-color: rgba(201, 135, 2, .3);
        }
    }

    .date-selection {
        border: 1px solid;
        border-radius: 10px;
        background-color: #f7f7f7;

        .header {
            margin: 15px auto;
        }

        .share-dates {
            border-top: 1px solid;
            padding: 35px 0;

            .share-label {
                font-size: 1.2rem;
                font-family: "Raleway-Regular";
                color: #c98702;   
            }

            .pickup-date {
                background-color: darken(white, 5%);
                border: 1px solid #bbb;
                border-radius: 10px;
                box-shadow: 1px 2px 5px #ccc;
                color: #c98702;
                cursor: pointer;
                display: inline-block;
                font-family: "RalewayRegular";
                padding: 10px;
                margin: 5px;
                text-align: center;

                &:hover {
                    background-color: rgba(201, 135, 2, .1);
                }
                
                &.selected {
                    background-color: rgba(201, 135, 2, .3);
                }

                >div {
                    font-weight: bold;

                    &:first-child {
                        font-weight: normal;
                    }
                }
            }
        }        
    }

    .summary {

        .share-label {
            font-family: "Raleway-Regular";
            font-size: 1.2rem;
            padding: 35px 0;
            color: #c98702;
            >div:nth-child(2) {
                color: #155D75;
            }
        }

        .grand-total {
            font-size: 1.2rem;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width: 400px) {

        .nav {
            .glyphicon-chevron-right:after {
                font-size: 20px;
                top: 5px;
                right: 35px;
            }

            .glyphicon-chevron-left:after {
                font-size: 20px;
                top: 5px;
                margin-left: 1px;
            }
        }

    }

    @media only screen and (max-width: 767px) {

        .vcenter {
            display: block;
        }

        .share-options {
            height: auto;
            .share-label {
                text-align: center;
                margin-bottom: 15px;
                margin-top: 10px;
            }

            .form-control {
                margin-bottom: 15px;
            }

            .single-share {
                margin-top: 15px;
            }
        }

        .member-info {
            .form-control {
                margin-bottom: 15px;
            }
        }

        .delivery {

            .delivery-options {

                .share-label {
                    text-align: center;
                    font-size: 1.2rem;
                    font-family: "Raleway-Regular";                   
                    margin: 10px 0 25px;
                }

                .delivery-option {
                    display: block;
                    border: 1px solid #ccc;
                    width: 95%;
                    text-align: center;
                    margin: 10px auto;
                    background-color: rgba(201, 135, 2, .1);
                }
            }

        }

        .date-selection {

            .share-dates {

                .share-label {
                    text-align: center;
                    font-size: 1.2rem;                   
                    margin: 10px 0 25px;                    
                }

                .pickup-date {
                    padding: 0;
                    margin: 0;
                }
            }
        }

    }

}

.error {
    color: #a94442;
    display: none;
    margin-top: 30px;

    .has-error & {
        display: block;
    }
}



