.mytable {
    height: 100%;
    overflow-x: auto;
    position: relative;
    margin-bottom: 2rem;

    &.no-items {
        color: red;
        padding-top: 20px;
        text-align: center;

        &:before {
            content: 'No items';
            display: block;
        }

        table {
            display: none;
        }
    }

    table {
        border-collapse: collapse;
        min-width: 100%;
        background-color: #fff5df;
        padding: 1rem;

        tr {
            border-bottom: 1px solid #ddd;
            display: flex;
            padding: 10px 0px;
        }

        th, td {           
            color: #666;
            display: inline-block;
            float: left;
            font-size: 100%;
            line-height: inherit;
            min-width: 150px;
            padding: 0px 20px;
            text-align: left;
            vertical-align: middle;
            white-space: normal;

            &.description {
                width: 300px;
            }
        }

        thead {

            display: block;

            tr {

                th {
                    cursor: pointer;
                    font-weight: bold;
                    padding-bottom: 15px;
                }
            }
        }
        
        tbody {
            display: block;

            &.no-items {
                color: gray;
                padding-top: 20px;
                text-align: center;

                &:before {
                    content: 'No items';
                    display: block;
                }
            }

            .delete-btn,
            .edit-btn {
                position: absolute;
                transition: all 1s ease;
            }

            tr {

                &:hover {
                    border-color: #ccc;
                    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,0.4);
                    -moz-box-shadow: 0 4px 16px rgba(0,0,0,0.4);
                    -ms-box-shadow: 0 4px 16px rgba(0,0,0,0.4);
                    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
                    cursor: pointer;
                    z-index: 3;
                }
            }

            td {
                overflow: auto;
            }

        }
        
    }
}
