.about-class {
  margin: 25px 5% 75px 5%;
}
.about-class #aboutName {
  clear: both;
}
.about-class h2 {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 1px;
  font-weight: 200;
  font-style: normal;
  text-transform: none;
  color: #555;
  margin: 0 0 .5em;
}
.about-class p {
  font-family: "proxima-nova";
  font-size: 15px;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-align: left;
  font-weight: 400;
  color: #666;
}
