.about-class .staff-bios .bio img {
  float: left;
  width: 30%;
  height: auto;
  margin-right: 8%;
}
.about-class .staff-bios .bio h3 {
  color: #c98702;
  margin-top: 15px;
}
@media only screen and (max-width: 500px) {
  .about-class .staff-bios .bio img {
    width: 40%;
  }
}
