@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/static/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/fonts/glyphicons-halflings-regular.svg') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('/static/fonts/Lato-Regular.eot');
  src: url('/static/fonts/Lato-Regular.woff2') format('woff2'), url('/static/fonts/Lato-Regular.woff') format('woff'), url('/static/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url('/static/fonts/Lato-Bold.eot');
  src: url('/static/fonts/Lato-Bold.woff2') format('woff2'), url('/static/fonts/Lato-Bold.woff') format('woff'), url('/static/fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'LatoLight';
  src: url('/static/fonts/Lato-Light.eot');
  src: url('/static/fonts/Lato-Light.woff2') format('woff2'), url('/static/fonts/Lato-Light.woff') format('woff'), url('/static/fonts/Lato-Light.ttf') format('truetype');
}
.modal-backdrop {
  bottom: 0;
}
html {
  font-size: 100%;
  height: 100%;
}
body {
  height: 100%;
}
body.admin {
  padding-top: 5rem;
}
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container-fluid {
  height: 100%;
}
.alert {
  padding: 5px;
  margin: 5px 0 10px 0;
}
.heading {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}
.sub-heading {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}
.w10 {
  width: 10%;
}
.w15 {
  width: 15%;
}
.w25 {
  width: 25%;
}
.w50 {
  width: 50%;
}
.w70 {
  width: 70%;
}
