.csa-class p {
  margin: 0 0 20px;
}
.csa-class h2 {
  color: #c98702;
}
.csa-class h3 {
  text-align: center;
}
.csa-class h3 .signup-btn {
  color: #398439;
  font-size: 2rem;
  font-weight: 700;
}
.csa-class figure {
  margin: 0 auto;
  padding: 20px 0;
}
.csa-class figure img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}
.csa-class figure figcaption {
  text-align: center;
  font-style: italic;
}
.csa-class ul {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
}
.csa-class ul li {
  margin-bottom: 3px;
  color: #155D75;
  list-style-type: circle;
}
.csa-class .how img {
  display: block;
  margin: 25px auto;
  max-height: 400px;
  max-width: 100%;
}
.csa-class .how .farmpickup,
.csa-class .how .group-deliveries {
  margin-bottom: 40px;
}
.csa-class .how .farmpickup span:first-child,
.csa-class .how .group-deliveries span:first-child {
  font-weight: bold;
}
.csa-class .how .delivery-martrix {
  margin-bottom: 40px;
  text-align: center;
}
.csa-class .how .delivery-martrix > div:first-child {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.csa-class .how .delivery-martrix .row:first-child {
  color: #c98702;
  font-weight: bold;
}
.csa-class .how .delivery-martrix .row:not(:first-child) > div:first-child {
  color: #155D75;
  font-weight: bold;
}
.csa-class .how .delivery-martrix .cell {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 15px 0px;
}
.csa-class .how .non-size-options {
  margin-bottom: 40px;
}
.csa-class .how .non-size-options .intro {
  margin-bottom: 15px;
}
.csa-class .how .non-size-options ul {
  margin-left: 30px;
}
.csa-class .how .non-size-options .option {
  padding: 30px 0px;
}
@media only screen and (max-width: 375px) {
  .csa-class .first-column {
    margin-bottom: 0;
  }
  .csa-class .second-column {
    margin-top: 0;
  }
}
