.footer-class {
  background-color: #131313;
  color: #ccc;
  width: auto;
  margin-top: 10px;
}
.footer-class ul {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}
.footer-class ul li {
  display: inline-block;
  float: none;
  margin: 5px 10px;
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2em;
  letter-spacing: 0px;
  cursor: pointer;
}
.footer-class hr {
  border-top: 1px solid white;
  margin: 0 auto;
}
.footer-class .future-days {
  width: 100%;
  display: inline-block;
  float: none;
  margin: 10px auto;
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
}
