.get-involved-class ul {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.get-involved-class ul li {
  list-style-type: circle;
  color: #155D75;
}
.get-involved-class h3 {
  margin-top: 1em;
  color: #c98702;
}
