.get-involved-class ul {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.get-involved-class ul li {
  color: #155D75;
  list-style-type: circle;
  margin-left: 15px;
}
.get-involved-class h3 {
  margin-top: 1em;
  color: #c98702;
}
.get-involved-class .employment-table {
  margin: 20px 0;
  text-align: center;
  border: 1px solid black;
}
.get-involved-class .employment-table .row {
  border-bottom: 1px solid black;
}
.get-involved-class .employment-table .row:first-child {
  color: #c98702;
  font-weight: bold;
}
.get-involved-class .employment-table .row:last-child {
  border-bottom: none;
}
.get-involved-class .employment-table .row:not(:first-child) > div:first-child {
  color: #155D75;
  font-weight: bold;
}
.get-involved-class .employment-table .cell {
  padding: 15px 0px;
}
.get-involved-class .employment-table .cell:last-child {
  border-left: 1px solid black;
}
.get-involved-class .employment-table .cell img {
  width: 20px;
  margin: 0;
}
