.header-class {
  height: 475px;
  width: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #666;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .header-class {
    height: 315px;
  }
}
.home .header-class {
  background-image: url('/static/img/bucket_in_field.jpg');
}
.signup .header-class {
  background-image: url('/static/img/greens.jpg');
}
.about .header-class {
  background-image: url('/static/img/ole_barn.jpg');
}
.csa .header-class {
  background-image: url('/static/img/veggies_on_table.jpg');
}
.markets .header-class {
  background-image: url('/static/img/broccoli_bucket.jpg');
}
.members .header-class {
  background-image: url('/static/img/dog_with_chard.jpg');
}
.employment .header-class {
  background-image: url('/static/img/sun_on_tractor.jpg');
}
.contact .header-class {
  background-image: url('/static/img/grazing_sheep.jpg');
}
.header-class .navbar-collapse {
  width: 100%;
  border: none;
}
.header-class .navbar-collapse .navbar-nav {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .header-class .navbar-collapse .navbar-nav {
    position: absolute;
    width: 90%;
    left: 5%;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) {
  .header-class .navbar-collapse .navbar-nav > li:first-child {
    display: none;
  }
}
.header-class .navbar-collapse .navbar-nav li {
  display: inline-block;
  float: none;
  margin: 5px 16.5px 0;
  text-align: center;
  font-size: 15px;
  font-family: "RalewayRegular";
  font-weight: 500;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .header-class .navbar-collapse .navbar-nav li {
    height: 100%;
    background-color: #131313;
    color: #ccc;
    display: block;
    border: 1px solid #ccc;
    float: none;
    width: auto;
    margin: 0;
    padding: 5px 0;
    line-height: 2em;
  }
}
.markets .header-class .navbar-collapse .navbar-nav li {
  color: #E0F78D;
  font-weight: 800;
}
.csa .header-class .navbar-collapse .navbar-nav li {
  color: #D4800E;
  font-weight: 700;
}
.members .header-class .navbar-collapse .navbar-nav li {
  color: #8C3733;
}
.employment .header-class .navbar-collapse .navbar-nav li {
  color: #966F70;
}
.header-class .header-title ul {
  margin: 5px auto;
  text-align: center;
}
.header-class .header-title .site-title-text {
  cursor: pointer;
  display: inline-block;
  color: black;
  font-family: "RalewayRegular";
  font-size: 70px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  padding: 0 15px;
}
@media only screen and (max-width: 767px) {
  .header-class .header-title .site-title-text {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .header-class .header-title .site-title-text {
    font-size: 45px;
  }
}
@media only screen and (max-width: 400px) {
  .header-class .header-title .site-title-text {
    font-size: 30px;
  }
}
.markets .header-class .header-title .site-title-text {
  color: #C7E53E;
}
.csa .header-class .header-title .site-title-text {
  color: #BF5A03;
}
.signup .header-class .header-title .site-title-text {
  color: #413137;
}
.members .header-class .header-title .site-title-text {
  color: #5B050F;
}
.employment .header-class .header-title .site-title-text {
  color: #4B2531;
}
