.header {
  border: none;
  height: 475px;
  max-height: 100%;
  width: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #666;
  position: relative;
}
.header .navbar-collapse {
  width: 100%;
  border: none;
}
.header .navbar-collapse .navbar-nav {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.header .navbar-collapse .navbar-nav li {
  display: inline-block;
  float: none;
  margin: 5px 16.5px 0;
  text-align: center;
  font-size: 17px;
  font-family: "RalewayRegular";
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
.header .navbar-collapse .navbar-nav li:hover {
  font-weight: 700;
}
.header .header-title {
  width: 100%;
  padding: 0 15px;
  margin: 5px auto;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  font-size: 70px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 500px) {
  .header {
    height: 315px;
  }
  .header .header-title {
    font-size: 55px;
  }
}
@media only screen and (max-width: 400px) {
  .header .header-title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .header .navbar-collapse .navbar-nav {
    position: absolute;
    width: 90%;
    left: 5%;
    margin: 0;
  }
  .header .navbar-collapse .navbar-nav li {
    height: 100%;
    color: #ccc;
    background-color: #131313;
    border: 1px solid #ccc;
    float: none;
    display: block;
    width: auto;
    margin: 0;
    padding: 5px 0;
    line-height: 2em;
  }
  .header .header-title {
    cursor: default;
  }
}
@media only screen and (min-width: 768px) {
  .header .navbar-collapse .navbar-nav > li:first-child {
    display: none;
  }
}
