.home-class h4 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  margin: 15px auto;
  text-align: center;
}
.home-class h3 {
  text-align: center;
}
.home-class .carousel {
  margin: 45px auto;
  width: 85%;
}
.home-class .carousel .carousel-inner img {
  width: 95%;
  height: 475px;
  margin: auto;
}
@media only screen and (max-width: 675px) {
  .home-class .carousel .carousel-inner img {
    height: 325px;
  }
}
@media only screen and (max-width: 425px) {
  .home-class .carousel .carousel-inner img {
    height: 225px;
  }
}
@media only screen and (min-width: 1150px) {
  .home-class .carousel .carousel-inner img {
    height: 650px;
  }
}
@media only screen and (min-width: 1500px) {
  .home-class .carousel .carousel-inner img {
    height: 800px;
  }
}
