#carousel {
  margin: 70px auto;
  width: 900px;
}
.carousel-inner > .item > img {
  width: 80%;
  height: 500px;
  margin: auto;
}
#homeText {
  width: 100%;
  margin: 75px auto 45px;
}
#homeText h3 {
  text-align: center;
  width: 80%;
  margin: auto;
}
