.home-class .carousel {
  margin: 70px auto;
  width: 85%;
}
.home-class .carousel .carousel-inner img {
  width: 95%;
  height: 475px;
  margin: auto;
}
@media only screen and (max-width: 675px) {
  .home-class .carousel .carousel-inner img {
    height: 325px;
  }
}
@media only screen and (max-width: 425px) {
  .home-class .carousel .carousel-inner img {
    height: 225px;
  }
}
@media only screen and (min-width: 1150px) {
  .home-class .carousel .carousel-inner img {
    height: 650px;
  }
}
