.markets-class .business,
.markets-class .restaurants span a {
  font-family: "RalewayRegular";
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 1px;
  color: #c98702;
}
.markets-class ul {
  margin-top: 20px;
}
.markets-class ul li {
  margin: 5px 0;
}
