.signup-class hr {
  margin: 1em;
}
.signup-class .header {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Raleway-Regular";
}
.signup-class .heading {
  line-height: 1.2em;
  padding: 20px 10px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  font-family: "Raleway-Regular";
}
.signup-class .intro {
  color: #c98702;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Raleway-Regular";
  text-align: center;
  line-height: 2rem;
  margin-bottom: 20px;
}
.signup-class .nav {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
}
.signup-class .nav .glyphicon {
  cursor: pointer;
}
.signup-class .nav .glyphicon:hover {
  color: #c98702;
}
.signup-class .nav .glyphicon-chevron-right:after {
  content: "Next";
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  right: 40px;
}
.signup-class .nav .glyphicon-chevron-left:after {
  content: "Back";
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  margin-left: 6px;
}
.signup-class .shares {
  padding: 30px 30px 0 30px;
  text-align: center;
}
.signup-class .shares.has-error {
  border: 1px solid #a94442;
  border-radius: 15px;
}
.signup-class .shares .share {
  width: 155px;
  background-color: #f2f2f2;
  color: #c98702;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
}
.signup-class .shares .share:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .shares .share.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .shares .share > div:first-child {
  font-size: 1.25rem;
}
.signup-class .shares .share > div:nth-child(2) {
  color: #155D75;
  font-size: .75rem;
}
.signup-class .member-info {
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.signup-class .member-info .help-block {
  text-align: center;
  font-size: .75rem;
}
.signup-class .share-options {
  border: 1px solid #666;
  border-radius: 5px;
  padding-top: 10px;
  background-color: #f7f7f7;
}
.signup-class .share-options .header {
  padding-bottom: 15px;
  margin-bottom: 0;
}
.signup-class .share-options .price {
  color: black;
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 1.2rem;
}
.signup-class .share-options .price:last-child {
  padding-bottom: 30px;
}
.signup-class .share-options .single-share {
  padding-top: 35px;
  padding-bottom: 15px;
  border-top: 1px solid;
}
.signup-class .share-options .share-label {
  font-family: "Raleway-Regular";
  font-size: 1.1rem;
}
.signup-class .share-options .share-label > div:first-child {
  color: #c98702;
}
.signup-class .share-options .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .share-options .share-option .option-total {
  color: #666;
}
.signup-class .share-options .share-option div:first-child {
  color: #155D75;
}
.signup-class .delivery {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.signup-class .delivery .has-error .error {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.signup-class .delivery .header {
  margin: 15px 0;
}
.signup-class .delivery .subheader {
  text-align: center;
  margin-bottom: 5px;
}
.signup-class .delivery .delivery-options {
  padding: 25px 0;
  border-top: 1px solid;
}
.signup-class .delivery .delivery-options .feedback-message {
  font-weight: 600;
}
.signup-class .delivery .delivery-options .share-label {
  font-size: 1.1rem;
  font-family: "Raleway-Regular";
  color: #c98702;
}
.signup-class .delivery .delivery-options .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .delivery .delivery-options .share-label > div:nth-child(3) {
  color: #666;
}
.signup-class .delivery .delivery-options .share-label .option-total {
  color: black;
}
.signup-class .delivery .delivery-options .delivery-option {
  background-color: #f0f0f0;
  box-shadow: 1px 2px 5px #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
}
.signup-class .delivery .delivery-options .delivery-option > div:first-child {
  color: #c98702;
}
.signup-class .delivery .delivery-options .delivery-option > div:nth-child(2) {
  color: #155D75;
}
.signup-class .delivery .delivery-options .delivery-option:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .delivery .delivery-options .delivery-option.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .dropoff {
  background-color: #f0f0f0;
  box-shadow: 1px 2px 5px #ccc;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
}
.signup-class .dropoff > div:first-child {
  color: #c98702;
}
.signup-class .dropoff > div:nth-child(2) {
  color: #155D75;
}
.signup-class .dropoff:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .dropoff.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .date-selection {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.signup-class .date-selection .header {
  margin: 15px auto;
}
.signup-class .date-selection .share-dates {
  border-top: 1px solid;
  padding: 35px 0;
}
.signup-class .date-selection .share-dates .share-label {
  font-size: 1.2rem;
  font-family: "Raleway-Regular";
  color: #c98702;
}
.signup-class .date-selection .share-dates .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .date-selection .share-dates .share-label > div:last-child {
  color: #666;
}
.signup-class .date-selection .share-dates .pickup-date {
  background-color: #f2f2f2;
  border: 1px solid beige;
  box-shadow: 1px 2px 5px #ccc;
  color: #c98702;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 1px;
  text-align: center;
  line-height: 1.2;
}
.signup-class .date-selection .share-dates .pickup-date:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .date-selection .share-dates .pickup-date.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .date-selection .share-dates .pickup-date > div {
  font-weight: bold;
}
.signup-class .date-selection .share-dates .pickup-date > div:first-child {
  font-weight: normal;
}
.signup-class .summary .share-label {
  font-family: "Raleway-Regular";
  font-size: 1.2rem;
  padding: 35px 0;
  color: #c98702;
}
.signup-class .summary .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .summary .grand-total {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}
.signup-class .summary .payment-option {
  background-color: #f2f2f2;
  color: #c98702;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.signup-class .summary .payment-option:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .summary .payment-option.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .summary .payment-option > div:nth-child(2) {
  color: black;
  font-size: .75rem;
}
@media only screen and (max-width: 400px) {
  .signup-class .nav .glyphicon-chevron-right:after {
    font-size: 20px;
    top: 5px;
    right: 35px;
  }
  .signup-class .nav .glyphicon-chevron-left:after {
    font-size: 20px;
    top: 5px;
    margin-left: 1px;
  }
}
@media only screen and (max-width: 767px) {
  .signup-class .vcenter {
    display: block;
  }
  .signup-class .share-options {
    height: auto;
  }
  .signup-class .share-options .share-label {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .signup-class .share-options .form-control {
    margin-bottom: 15px;
  }
  .signup-class .share-options .single-share {
    margin-top: 15px;
  }
  .signup-class .member-info .form-control {
    margin-bottom: 15px;
  }
  .signup-class .delivery .delivery-options .share-label {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Raleway-Regular";
    margin: 10px 0 25px;
  }
  .signup-class .delivery .delivery-options .delivery-option {
    display: block;
    border: 1px solid #ccc;
    width: 95%;
    text-align: center;
    margin: 10px auto;
    background-color: rgba(201, 135, 2, 0.1);
  }
  .signup-class .date-selection .share-dates .share-label {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 25px;
  }
  .signup-class .date-selection .share-dates .pickup-date {
    padding: 8px;
    margin: 0;
  }
}
.error {
  color: #a94442;
  display: none;
  margin-top: 30px;
}
.has-error .error {
  display: block;
}
