.signup-class hr {
  margin: 1em;
}
.signup-class .header {
  margin-bottom: 30px;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Raleway-Regular";
}
.signup-class .heading {
  line-height: 1.2em;
  padding: 20px 10px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  font-family: "Raleway-Regular";
}
.signup-class .intro {
  color: #c98702;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Raleway-Regular";
  text-align: center;
  line-height: 2rem;
  margin-bottom: 20px;
}
.signup-class .walkthrough-container {
  min-height: 500px;
}
.signup-class .nav {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
}
.signup-class .nav .glyphicon {
  cursor: pointer;
}
.signup-class .nav .glyphicon:hover {
  color: #c98702;
}
.signup-class .nav .glyphicon-chevron-right:after {
  content: "Next";
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  right: 40px;
}
.signup-class .nav .glyphicon-chevron-left:after {
  content: "Back";
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  margin-left: 6px;
}
.signup-class .shares {
  padding: 5px 15px 0 20px;
  text-align: center;
}
.signup-class .shares.has-error {
  border: 1px solid #a94442;
  border-radius: 15px;
}
.signup-class .shares .share-intro {
  font-weight: bold;
  color: #155D75;
  font-size: 1.1rem;
}
.signup-class .shares .header {
  margin-top: 45px;
}
.signup-class .shares .share {
  margin-bottom: 30px;
}
.signup-class .shares .share .share-label {
  width: 155px;
  background-color: #f2f2f2;
  color: #c98702;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
}
.signup-class .shares .share .share-label:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .shares .share .share-label.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .shares .share .share-label > div:first-child {
  font-size: 1.25rem;
}
.signup-class .shares .share .share-label > div:nth-child(2) {
  color: #155D75;
  font-size: .75rem;
}
.signup-class .member-info {
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #f7f7f7;
}
.signup-class .member-info .help-block {
  text-align: center;
  font-size: .75rem;
}
.signup-class .share-options {
  border: 1px solid #666;
  border-radius: 5px;
  padding-top: 10px;
  background-color: #f7f7f7;
}
.signup-class .share-options .header {
  padding-bottom: 15px;
  margin-bottom: 0;
}
.signup-class .share-options .price {
  color: black;
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 1.2rem;
}
.signup-class .share-options .price:last-child {
  padding-bottom: 30px;
}
.signup-class .share-options .single-share {
  padding-top: 35px;
  padding-bottom: 15px;
  border-top: 1px solid;
}
.signup-class .share-options .share-label {
  font-family: "Raleway-Regular";
  font-size: 1.1rem;
}
.signup-class .share-options .share-label > div:first-child {
  color: #c98702;
}
.signup-class .share-options .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .share-options .share-option .option-total {
  color: #666;
}
.signup-class .share-options .share-option div:first-child {
  color: #155D75;
}
.signup-class .delivery {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.signup-class .delivery .has-error .error {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.signup-class .delivery .header {
  margin: 15px 0;
}
.signup-class .delivery .subheader {
  text-align: center;
  margin-bottom: 5px;
}
.signup-class .delivery .delivery-options {
  padding: 25px 0;
  border-top: 1px solid;
}
.signup-class .delivery .delivery-options .feedback-message {
  font-weight: 600;
}
.signup-class .delivery .delivery-options .share-label {
  font-size: 1.1rem;
  font-family: "Raleway-Regular";
  color: #c98702;
}
.signup-class .delivery .delivery-options .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .delivery .delivery-options .share-label > div:nth-child(3) {
  color: #666;
}
.signup-class .delivery .delivery-options .share-label .option-total {
  color: black;
}
.signup-class .delivery .delivery-options .delivery-option {
  background-color: #f0f0f0;
  box-shadow: 1px 2px 5px #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
}
.signup-class .delivery .delivery-options .delivery-option > div:first-child {
  color: #c98702;
}
.signup-class .delivery .delivery-options .delivery-option > div:nth-child(2) {
  color: #155D75;
}
.signup-class .delivery .delivery-options .delivery-option:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .delivery .delivery-options .delivery-option.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .dropoff {
  background-color: #f0f0f0;
  box-shadow: 1px 2px 5px #ccc;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
}
.signup-class .dropoff > div:first-child {
  color: #c98702;
}
.signup-class .dropoff > div:nth-child(2) {
  color: #155D75;
}
.signup-class .dropoff:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .dropoff.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .date-selection {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.signup-class .date-selection .header {
  margin: 15px auto;
}
.signup-class .date-selection .subheader {
  text-align: center;
}
.signup-class .date-selection .share-dates {
  border-top: 1px solid;
  padding: 35px 0;
}
.signup-class .date-selection .share-dates .share-label {
  font-size: 1.2rem;
  font-family: "Raleway-Regular";
  color: #c98702;
}
.signup-class .date-selection .share-dates .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .date-selection .share-dates .share-label > div:last-child {
  color: #666;
}
.signup-class .date-selection .share-dates .pickup-date {
  background-color: #f2f2f2;
  border: 1px solid beige;
  box-shadow: 1px 2px 5px #ccc;
  color: #c98702;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 1px;
  text-align: center;
  line-height: 1.2;
}
.signup-class .date-selection .share-dates .pickup-date:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .date-selection .share-dates .pickup-date.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .date-selection .share-dates .pickup-date > div {
  font-weight: bold;
}
.signup-class .date-selection .share-dates .pickup-date > div:first-child {
  font-weight: normal;
}
.signup-class .summary .share-summary {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
  margin-bottom: 5px;
  padding: 0 20px;
}
.signup-class .summary .share-summary .header {
  margin: 0;
  padding: 15px 0;
}
.signup-class .summary .share-summary .share-label {
  font-family: "Raleway-Regular";
  font-size: 1.2rem;
  border-top: 1px solid #666;
  padding: 35px 0 5px;
}
.signup-class .summary .share-summary .share-label > div:first-child {
  color: #c98702;
}
.signup-class .summary .share-summary .share-label > div:nth-child(2) {
  color: #155D75;
}
.signup-class .summary .share-summary .section-title {
  color: #c98702;
  font-size: 1.1rem;
  margin-top: 30px;
  margin-bottom: 5px;
}
.signup-class .summary .share-summary .selected-options {
  margin-bottom: 15px;
}
.signup-class .summary .share-summary .item-label {
  color: #155D75;
}
.signup-class .summary .share-summary .skip-date {
  margin-right: 3px;
}
.signup-class .summary .share-summary .price-reduction {
  color: black;
}
.signup-class .summary .share-summary .total {
  color: black;
  margin-top: 10px;
}
.signup-class .summary .share-summary .share-total {
  font-size: 1.2rem;
  color: black;
  padding: 35px 0 25px;
}
.signup-class .summary .grand-total {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 25px auto;
  color: black;
}
.signup-class .summary .payment {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 0 20px;
}
.signup-class .summary .payment .header {
  border: none;
  padding: 25px 0;
  margin: 0;
}
.signup-class .summary .payment .payment-options {
  margin: 0 auto 10px;
  text-align: center;
}
.signup-class .summary .payment .payment-options .payment-option {
  background-color: #f2f2f2;
  color: #c98702;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 40%;
}
.signup-class .summary .payment .payment-options .payment-option:hover {
  background-color: rgba(201, 135, 2, 0.1);
}
.signup-class .summary .payment .payment-options .payment-option.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.signup-class .summary .payment .payment-options .payment-option > div:nth-child(2) {
  color: black;
  font-size: .75rem;
}
.signup-class .summary .payment .payment-options .payment-option .method-total {
  font-weight: bold;
}
.signup-class .summary .payment form .credit-card-info {
  margin-top: 25px;
}
.signup-class .summary .payment form .number {
  margin-bottom: 3px;
}
.signup-class .summary .payment form .number input {
  width: 300px;
}
.signup-class .summary .payment form .number .form-control-feedback {
  left: 275px;
}
.signup-class .summary .payment form .expiration input {
  display: inline-block;
}
.signup-class .summary .payment form .expiration #exp_month {
  width: 90px;
}
.signup-class .summary .payment form .expiration #exp_year {
  width: 125px;
}
.signup-class .summary .payment form .expiration .form-control-feedback:nth-child(2) {
  left: 65px;
}
.signup-class .summary .payment form .expiration .form-control-feedback:nth-child(5) {
  left: 190px;
}
.signup-class .summary .payment form .cvc input {
  width: 110px;
  display: inline-block;
}
.signup-class .summary .payment form .cvc .form-control-feedback:nth-child(2) {
  left: 85px;
}
.signup-class .summary .payment button {
  position: relative;
  margin-bottom: 20px;
}
.signup-class .summary .payment button.has-spinner {
  color: #5cb85c;
}
.signup-class .summary .payment button.has-spinner:focus,
.signup-class .summary .payment button.has-spinner:hover {
  color: #449d44;
}
@media only screen and (max-width: 400px) {
  .signup-class .nav .glyphicon-chevron-right:after {
    font-size: 20px;
    top: 5px;
    right: 35px;
  }
  .signup-class .nav .glyphicon-chevron-left:after {
    font-size: 20px;
    top: 5px;
    margin-left: 1px;
  }
}
@media only screen and (max-width: 767px) {
  .signup-class .vcenter {
    display: block;
  }
  .signup-class .shares .share .share-label {
    margin: 25px 0 15px;
    width: 95%;
  }
  .signup-class .share-options {
    height: auto;
  }
  .signup-class .share-options .share-label {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .signup-class .share-options .form-control {
    margin-bottom: 15px;
  }
  .signup-class .share-options .single-share {
    margin-top: 15px;
  }
  .signup-class .member-info .form-control {
    margin-bottom: 15px;
  }
  .signup-class .delivery .delivery-options .share-label {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Raleway-Regular";
    margin: 10px 0 25px;
  }
  .signup-class .delivery .delivery-options .delivery-option {
    display: block;
    border: 1px solid #ccc;
    width: 95%;
    text-align: center;
    margin: 10px auto;
    background-color: rgba(201, 135, 2, 0.1);
  }
  .signup-class .date-selection .share-dates .share-label {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0 25px;
  }
  .signup-class .date-selection .share-dates .pickup-date {
    padding: 8px;
    margin: 0;
  }
  .signup-class .summary .payment .payment-options .payment-option {
    display: block;
    width: 95%;
    margin-bottom: 15px;
  }
  .signup-class .summary .payment form #number {
    width: 95%;
  }
}
.error {
  color: #a94442;
  display: none;
  margin-top: 30px;
}
.has-error .error {
  display: block;
}
.addresses > div:first-child {
  color: #c98702;
  font-family: RalewayRegular;
}
.addresses .list-container {
  border: 1px solid black;
  margin-top: 15px;
  max-height: 300px;
  overflow-y: auto;
}
.addresses .address {
  color: #155D75;
  cursor: pointer;
  padding: 10px;
}
.addresses .address:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.addresses .address.selected {
  background-color: rgba(201, 135, 2, 0.3);
}
.addresses .address + .address {
  border-top: 1px solid black;
}
