.about-class .staff-bios .bio img {
  float: left;
  width: 30%;
  height: auto;
  margin-right: 8%;
}

.about-class .staff-bios .bio h3 {
  color: #c98702;
  margin-top: 15px;
}

@media only screen and (max-width: 500px) {
  .about-class .staff-bios .bio img {
    width: 40%;
  }
}
.admin-header {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
  height: 5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.admin-header > :first-child {
  height: 100%;
  margin: 0 auto;
  max-width: 61.25rem;
}

.admin-header > :first-child .logo-container {
  float: left;
  line-height: 5rem;
}

.admin-header > :first-child .logo-container img {
  height: 2rem;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/static/fonts/glyphicons-halflings-regular.eot");
  src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("/static/fonts/glyphicons-halflings-regular.woff2") format('woff2'), url("/static/fonts/glyphicons-halflings-regular.woff") format('woff'), url("/static/fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("/static/fonts/glyphicons-halflings-regular.svg") format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("/static/fonts/Lato-Regular.eot");
  src: url("/static/fonts/Lato-Regular.woff2") format('woff2'), url("/static/fonts/Lato-Regular.woff") format('woff'), url("/static/fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("/static/fonts/Lato-Bold.eot");
  src: url("/static/fonts/Lato-Bold.woff2") format('woff2'), url("/static/fonts/Lato-Bold.woff") format('woff'), url("/static/fonts/Lato-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url("/static/fonts/Lato-Light.eot");
  src: url("/static/fonts/Lato-Light.woff2") format('woff2'), url("/static/fonts/Lato-Light.woff") format('woff'), url("/static/fonts/Lato-Light.ttf") format('truetype');
}

@font-face {
  font-family: 'RalewayRegular';
  src: url("/static/fonts/Raleway-Regular-webfont.eot");
  src: url("/static/fonts/Raleway-Regular-webfont.woff") format('woff'), url("/static/fonts/Raleway-Regular-webfont.ttf") format('truetype'), url("/static/fonts/Raleway-Regular-webfont.svg") format('svg');
}

@font-face {
  font-family: 'RalewayRegular';
  font-weight: 700;
  src: url("/static/fonts/Raleway-Bold-webfont.woff") format('woff'), url("/static/fonts/Raleway-Bold-webfont.ttf") format('truetype');
}

.modal-backdrop {
  bottom: 0;
  position: fixed;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  font-family: "Lato";
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: left;
  color: #666;
}

body > div.container {
  width: 100%;
}

@media only screen and (min-width: 1224px) {
  body > div.container {
    max-width: 1224px;
  }
}

body.admin {
  padding-top: 5rem;
}

.client-view {
  margin: 15px 5% 25px;
}

h1,
h2,
h3 {
  font-family: "RalewayRegular";
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 1px;
  color: #555;
  margin: 0 0 .5em;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h3 a {
  font-size: 2rem;
}

img {
  margin-top: 15px;
  margin-bottom: 15px;
}

a {
  color: #398439;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
}

a:hover {
  color: #398439;
}

a[href^="mailto:"] {
  font-size: 1rem;
}

div.btn-row {
  text-align: center;
}

div.header {
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 1.25rem;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #ddd;
  height: 0;
  margin: 2em auto;
}

.glyphicon-ok {
  color: green;
  margin-left: 5px;
}

.alert {
  padding: 5px;
  margin: 5px 0 10px 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
}

.alert {
  padding: 5px;
  margin: 5px 0 10px 0;
}

.heading {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}

.sub-heading {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w16 {
  width: 16%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w70 {
  width: 70%;
}

.slide-in-right {
  animation: slide-in-right 0.5s forwards;
  -webkit-animation: slide-in-right 0.5s forwards;
}

.slide-in-left {
  animation: slide-in-left 0.5s forwards;
  -webkit-animation: slide-in-left 0.5s forwards;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0%);
  }
}

.csa-class h2 {
  color: #c98702;
}

.csa-class h3 {
  text-align: center;
}

.csa-class figure {
  margin: 0 auto;
  padding: 20px 0;
}

.csa-class figure img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.csa-class figure figcaption {
  text-align: center;
  font-style: italic;
}

.csa-class ul {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
}

.csa-class ul li {
  margin-bottom: 3px;
  margin-right: 10px;
  color: #155D75;
  list-style-type: circle;
}

@media only screen and (max-width: 375px) {
  .csa-class .first-column {
    margin-bottom: 0;
  }

  .csa-class .second-column {
    margin-top: 0;
  }
}
footer {
  background-color: #131313;
  color: #ccc;
  width: auto;
  margin-top: 10px;
}

footer ul {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  float: none;
  margin: 5px 10px;
  text-align: center;
  font-size: 15px;
  font-family: "RalewayRegular";
  line-height: 1.2em;
  cursor: pointer;
}

footer ul li:hover {
  color: #73756A;
  text-shadow: 1px 1px 1px #337ab7;
}

footer hr {
  border-top: 1px solid #ddd;
  margin: 0 5%;
  opacity: 0.25;
}

footer .future-days {
  width: 100%;
  display: inline-block;
  float: none;
  margin: 10px auto;
  text-align: center;
  font-size: 15px;
  line-height: 1.5em;
}
.get-involved-class ul {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.get-involved-class ul li {
  color: #155D75;
  list-style-type: circle;
  margin-left: 15px;
}

.get-involved-class h3 {
  margin-top: 1em;
  color: #c98702;
}
.header-class {
  border: none;
  height: 475px;
  width: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #666;
  position: relative;
}

.home .header-class {
  background-image: url("/static/img/headers/crop-fields-sm.jpg");
}

.signup .header-class {
  background-image: url("/static/img/headers/cherry-tomatoes-sm.jpg");
}

.about .header-class {
  background-image: url("/static/img/headers/dog-and-chard-sm.jpg");
}

.csa .header-class {
  background-image: url("/static/img/headers/cauliflower-sm.jpg");
}

.markets .header-class {
  background-image: url("/static/img/headers/greens-sm.jpg");
}

.members .header-class {
  background-image: url("/static/img/dog_with_chard.jpg");
}

.get-involved .header-class {
  background-image: url("/static/img/headers/on-the-tractor-sm.jpg");
}

.contact .header-class {
  background-image: url("/static/img/headers/sidekick-shed-sm.jpg");
}

.header-class .navbar-collapse {
  width: 100%;
  border: none;
}

.header-class .navbar-collapse .navbar-nav {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.header-class .navbar-collapse .navbar-nav li {
  display: inline-block;
  float: none;
  margin: 5px 16.5px 0;
  text-align: center;
  font-size: 17px;
  font-family: "RalewayRegular";
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.header-class .navbar-collapse .navbar-nav li:hover {
  font-weight: 700;
}

.header-class .header-title {
  width: 100%;
  padding: 0 15px;
  margin: 5px auto;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  font-size: 70px;
  font-weight: 300;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
}

.home .header-class .header-title {
  color: black;
}

.about .header-class .header-title {
  color: #59020C;
}

.markets .header-class .header-title {
  color: white;
}

.csa .header-class .header-title {
  color: white;
}

.signup .header-class .header-title {
  color: white;
}

.get-involved .header-class .header-title {
  color: #0A2D3F;
}

.contact .header-class .header-title {
  color: black;
}

@media only screen and (max-width: 500px) {
  .header-class {
    height: 315px;
  }

  .header-class .header-title {
    font-size: 55px;
  }
}

@media only screen and (max-width: 400px) {
  .header-class .header-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .home .header-class {
    background-image: url("/static/img/headers/crop-fields-xs.jpg");
  }

  .about .header-class {
    background-image: url("/static/img/headers/dog-and-chard-xs.jpg");
  }

  .csa .header-class {
    background-image: url("/static/img/headers/cauliflower-xs.jpg");
  }

  .markets .header-class {
    background-image: url("/static/img/headers/greens-xs.jpg");
  }

  .signup .header-class {
    background-image: url("/static/img/headers/cherry-tomatoes-xs.jpg");
  }

  .get-involved .header-class {
    background-image: url("/static/img/headers/on-the-tractor-xs.jpg");
  }

  .contact .header-class {
    background-image: url("/static/img/headers/sidekick-shed-xs.jpg");
  }

  .header-class .navbar-collapse .navbar-nav {
    position: absolute;
    width: 90%;
    left: 5%;
    margin: 0;
  }

  .header-class .navbar-collapse .navbar-nav li {
    height: 100%;
    color: #ccc;
    background-color: #131313;
    border: 1px solid #ccc;
    float: none;
    display: block;
    width: auto;
    margin: 0;
    padding: 5px 0;
    line-height: 2em;
  }

  .header-class .header-title {
    cursor: default;
  }
}

@media only screen and (min-width: 768px) {
  .home .header-class .navbar-collapse .navbar-nav li {
    color: black;
  }

  .home .header-class .navbar-collapse .navbar-nav li:hover {
    color: #4d4d4d;
  }

  .about .header-class .navbar-collapse .navbar-nav li {
    color: #59020C;
  }

  .about .header-class .navbar-collapse .navbar-nav li:hover {
    color: #8b0313;
  }

  .csa .header-class .navbar-collapse .navbar-nav li {
    color: white;
  }

  .csa .header-class .navbar-collapse .navbar-nav li:hover {
    color: #e6e6e6;
  }

  .markets .header-class .navbar-collapse .navbar-nav li {
    color: white;
  }

  .markets .header-class .navbar-collapse .navbar-nav li:hover {
    color: #e6e6e6;
  }

  .signup .header-class .navbar-collapse .navbar-nav li {
    color: white;
  }

  .signup .header-class .navbar-collapse .navbar-nav li:hover {
    color: #e6e6e6;
  }

  .get-involved .header-class .navbar-collapse .navbar-nav li {
    color: #0A2D3F;
  }

  .get-involved .header-class .navbar-collapse .navbar-nav li:hover {
    color: #145c81;
  }

  .contact .header-class .navbar-collapse .navbar-nav li {
    color: black;
  }

  .contact .header-class .navbar-collapse .navbar-nav li:hover {
    color: #333333;
  }

  .header-class .navbar-collapse .navbar-nav > li:first-child {
    display: none;
  }

  .home .header-class .header-title:hover {
    color: #4d4d4d;
  }

  .about .header-class .header-title:hover {
    color: #8b0313;
  }

  .csa .header-class .header-title:hover {
    color: #e6e6e6;
  }

  .markets .header-class .header-title:hover {
    color: #e6e6e6;
  }

  .get-involved .header-class .header-title:hover {
    color: #145c81;
  }

  .contact .header-class .header-title:hover {
    color: #262626;
  }
}
.home-class h4 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem;
  margin: 15px auto;
  text-align: center;
}

.home-class h3 {
  text-align: center;
}

.home-class .carousel {
  margin: 45px auto;
  width: 85%;
}

.home-class .carousel .carousel-inner img {
  width: 95%;
  height: 475px;
  margin: auto;
}

@media only screen and (max-width: 675px) {
  .home-class .carousel .carousel-inner img {
    height: 325px;
  }
}

@media only screen and (max-width: 425px) {
  .home-class .carousel .carousel-inner img {
    height: 225px;
  }
}

@media only screen and (min-width: 1150px) {
  .home-class .carousel .carousel-inner img {
    height: 650px;
  }
}
.markets-class .business,
.markets-class .restaurants span a {
  font-family: "RalewayRegular";
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: 1px;
  color: #c98702;
}

.markets-class ul {
  margin-top: 20px;
}

.markets-class ul li {
  margin: 5px 0;
}
.resource .sub-heading button {
  position: absolute;
  right: 25px;
  top: 2rem;
}

.resource .mytable button {
  line-height: .5rem;
  font-size: .5rem;
  padding: 3px;
  position: absolute;
}
.share-label {
  background-color: #f2f2f2;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  color: #c98702;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  text-align: center;
  width: 155px;
}

.share-label > div:first-child {
  font-size: 1.25rem;
}

.share-label > div:nth-child(2) {
  color: #155D75;
  font-size: .75rem;
}
.signup-class hr {
  margin: 1em;
}

.signup-class .header {
  margin-bottom: 30px;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
  font-family: "RalewayRegular";
}

.signup-class .heading {
  line-height: 1.2em;
  padding: 20px 10px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  font-family: "RalewayRegular";
}

.signup-class .intro {
  color: #c98702;
  font-size: 2rem;
  font-weight: 400;
  font-family: "RalewayRegular";
  text-align: center;
  line-height: 2rem;
  margin-bottom: 20px;
}

.signup-class .walkthrough-container {
  min-height: 500px;
}

.signup-class .nav {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

.signup-class .nav .glyphicon {
  cursor: pointer;
}

.signup-class .nav .glyphicon:hover {
  color: #c98702;
}

.signup-class .nav .glyphicon-chevron-right:after {
  content: "Next";
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  right: 40px;
}

.signup-class .nav .glyphicon-chevron-left:after {
  content: "Back";
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 3px;
  margin-left: 6px;
}

.signup-class .shares {
  padding: 5px 15px 0 20px;
  text-align: center;
}

.signup-class .shares.has-error {
  border: 1px solid #a94442;
  border-radius: 15px;
}

.signup-class .shares .share-intro {
  font-weight: bold;
  color: #155D75;
  font-size: 1.1rem;
}

.signup-class .shares .share-intro .btn-link {
  color: #31b0d5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0px 5px;
}

.signup-class .shares .share-intro .btn-link:focus,
.signup-class .shares .share-intro .btn-link:hover {
  color: #31b0d5;
}

.signup-class .shares .share-intro + .share-intro {
  margin-top: 10px;
}

.signup-class .shares .header {
  margin-top: 45px;
}

.signup-class .shares .share {
  cursor: pointer;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.signup-class .shares .share:hover {
  border-color: rgba(201, 135, 2, 0.7);
}

.signup-class .shares .share.selected {
  background-color: rgba(201, 135, 2, 0.1);
}

.signup-class .member-info {
  border: 1px solid #666;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.signup-class .member-info .help-block {
  text-align: center;
  font-size: .75rem;
}

.signup-class .share-options {
  border: 1px solid #666;
  border-radius: 5px;
  padding-top: 10px;
  background-color: #f7f7f7;
}

.signup-class .share-options .header {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.signup-class .share-options .price {
  font-size: .75rem;
  text-align: right;
  font-family: "RalewayRegular";
  padding-bottom: 30px;
}

.signup-class .share-options .single-share {
  padding-top: 35px;
  padding-bottom: 15px;
  border-top: 1px solid;
}

.signup-class .share-options .single-share .share-label {
  width: 100%;
}

.signup-class .share-options .share-option {
  height: 44px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.signup-class .share-options .share-option select {
  width: initial;
}

.signup-class .share-options .share-option .total,
.signup-class .share-options .share-option .option-title {
  height: 100%;
  display: table;
}

.signup-class .share-options .share-option .total > div,
.signup-class .share-options .share-option .option-title > div {
  display: table-cell;
  vertical-align: middle;
}

.signup-class .share-options .share-option .option-title {
  color: #155D75;
}

.signup-class .share-options .share-option .total > div {
  color: #666;
  font-size: .75rem;
  text-align: right;
}

.signup-class .share-options .share-option .glyphicon {
  top: 2px;
  left: 5px;
  cursor: pointer;
}

.signup-class .share-options .share-option + .share-option {
  margin-top: 20px;
}

.signup-class .delivery {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.signup-class .delivery .has-error .error {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.signup-class .delivery .header {
  margin: 15px 0;
}

.signup-class .delivery .subheader {
  text-align: center;
  margin-bottom: 5px;
}

.signup-class .delivery .delivery-options {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid;
}

.signup-class .delivery .delivery-options .feedback-message {
  font-weight: 600;
}

.signup-class .delivery .delivery-options .share-label .option-total {
  color: black;
}

.signup-class .delivery .delivery-options .options {
  margin: 0 auto;
  text-align: center;
}

.signup-class .delivery .delivery-options .delivery-option {
  background-color: #f0f0f0;
  box-shadow: 1px 2px 5px #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.signup-class .delivery .delivery-options .delivery-option > div:first-child {
  color: #c98702;
}

.signup-class .delivery .delivery-options .delivery-option > div:nth-child(2) {
  color: #155D75;
}

.signup-class .delivery .delivery-options .delivery-option:hover {
  background-color: rgba(201, 135, 2, 0.1);
}

.signup-class .delivery .delivery-options .delivery-option.selected {
  background-color: rgba(201, 135, 2, 0.3);
}

.signup-class .delivery .delivery-options .feedback-messages {
  text-align: center;
  font-weight: bold;
}

.signup-class .delivery .delivery-options .feedback-messages .message {
  margin-left: 16%;
  text-align: left;
}

.signup-class .delivery .delivery-options .feedback-messages .dropoff-message {
  text-align: left;
}

.signup-class .dropoff {
  background-color: #f0f0f0;
  box-shadow: 1px 2px 5px #ccc;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
}

.signup-class .dropoff > div:first-child {
  color: #c98702;
}

.signup-class .dropoff > div:nth-child(2) {
  color: #155D75;
}

.signup-class .dropoff:hover {
  background-color: rgba(201, 135, 2, 0.1);
}

.signup-class .dropoff.selected {
  background-color: rgba(201, 135, 2, 0.3);
}

.signup-class .date-selection {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
}

.signup-class .date-selection .header {
  margin: 15px auto;
}

.signup-class .date-selection .subheader {
  text-align: center;
}

.signup-class .date-selection .share-dates {
  border-top: 1px solid;
  padding: 35px 0 35px 15px;
}

.signup-class .date-selection .share-dates.has-error .error {
  text-align: center;
}

.signup-class .date-selection .share-dates .pickup-date {
  background-color: #555;
  border: 1px solid beige;
  box-shadow: 1px 2px 5px #ccc;
  color: #b07602;
  opacity: .7;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 1px;
  text-align: center;
  line-height: 1.2;
}

.signup-class .date-selection .share-dates .pickup-date:hover {
  background-color: #626262;
}

.signup-class .date-selection .share-dates .pickup-date.selected {
  background-color: rgba(201, 135, 2, 0.3);
  color: #c98702;
  opacity: 1;
}

.signup-class .date-selection .share-dates .pickup-date.unselectable {
  background-color: rgba(85, 85, 85, 0.1);
  cursor: not-allowed;
  opacity: .3;
}

.signup-class .date-selection .share-dates .pickup-date > div {
  font-weight: bold;
}

.signup-class .date-selection .share-dates .pickup-date > div:first-child {
  font-weight: normal;
}

.signup-class .summary .share-summary {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
  margin-bottom: 5px;
  padding: 0 15px;
}

.signup-class .summary .share-summary .header {
  margin: 0;
  padding: 15px 0;
}

.signup-class .summary .share-summary .share-label-wrapper {
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #666;
  padding-top: 20px;
}

.signup-class .summary .share-summary .share-label-wrapper .share-label {
  width: 155px;
  background-color: #f2f2f2;
  color: #c98702;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 20px auto;
  text-align: center;
}

.signup-class .summary .share-summary .share-label-wrapper .share-label > div:first-child {
  font-size: 1.25rem;
}

.signup-class .summary .share-summary .share-label-wrapper .share-label > div:nth-child(2) {
  color: #155D75;
  font-size: .75rem;
}

.signup-class .summary .share-summary .section-title {
  color: #c98702;
  font-size: 1.1rem;
  margin-top: 35px;
  margin-bottom: 10px;
}

.signup-class .summary .share-summary .item-label {
  color: #155D75;
  margin-bottom: 5px;
}

.signup-class .summary .share-summary .date {
  color: #155D75;
  display: inline-block;
}

.signup-class .summary .share-summary .date:not(:last-child):after {
  content: ", ";
}

.signup-class .summary .share-summary .total {
  color: black;
  margin-top: 15px;
  font-weight: bold;
}

.signup-class .summary .share-summary .share-total {
  margin: 20px 0 35px;
}

.signup-class .summary .grand-total {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 25px auto;
  color: black;
}

.signup-class .summary .payment {
  border: 1px solid;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 0 20px;
}

.signup-class .summary .payment .header {
  border: none;
  padding: 25px 0;
  margin: 0;
}

.signup-class .summary .payment .payment-options {
  margin: 0 auto 10px;
  text-align: center;
}

.signup-class .summary .payment .payment-options .payment-option {
  background-color: #f2f2f2;
  color: #c98702;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 10px;
  margin: 5px;
  text-align: center;
  width: 40%;
}

.signup-class .summary .payment .payment-options .payment-option:hover {
  background-color: rgba(201, 135, 2, 0.1);
}

.signup-class .summary .payment .payment-options .payment-option.selected {
  background-color: rgba(201, 135, 2, 0.3);
}

.signup-class .summary .payment .payment-options .payment-option > div:nth-child(2) {
  color: black;
  font-size: .75rem;
}

.signup-class .summary .payment .payment-options .payment-option .method-total {
  font-weight: bold;
}

.signup-class .summary .payment form .credit-card-info {
  margin-top: 25px;
}

.signup-class .summary .payment form .credit-card-info input {
  width: 300px;
}

.signup-class .summary .payment form .credit-card-info .form-control-feedback {
  left: 275px;
}

.signup-class .summary .payment form .number {
  margin-bottom: 3px;
}

.signup-class .summary .payment form .expiration input {
  display: inline-block;
}

.signup-class .summary .payment form .expiration #exp_month {
  width: 100px;
}

.signup-class .summary .payment form .expiration #exp_year {
  width: 125px;
}

.signup-class .summary .payment form .expiration .form-control-feedback:nth-child(2) {
  left: 75px;
}

.signup-class .summary .payment form .expiration .form-control-feedback:nth-child(5) {
  left: 200px;
}

.signup-class .summary .payment form .cvc input {
  width: 110px;
  display: inline-block;
}

.signup-class .summary .payment form .cvc .form-control-feedback:nth-child(2) {
  left: 85px;
}

.signup-class .summary .payment button {
  position: relative;
  margin-bottom: 20px;
}

.signup-class .summary .payment button.has-spinner {
  color: #5cb85c;
}

.signup-class .summary .payment button.has-spinner:focus,
.signup-class .summary .payment button.has-spinner:hover {
  color: #449d44;
}

@media only screen and (max-width: 400px) {
  .signup-class .nav .glyphicon-chevron-right:after {
    font-size: 20px;
    top: 5px;
    right: 35px;
  }

  .signup-class .nav .glyphicon-chevron-left:after {
    font-size: 20px;
    top: 5px;
    margin-left: 1px;
  }
}

@media only screen and (max-width: 800px) {
  .signup-class .delivery .delivery-options .share-label {
    width: 148px;
  }
}

@media only screen and (max-width: 767px) {
  .signup-class .vcenter {
    display: block;
  }

  .signup-class .shares .share .share-label {
    margin: 25px 0 15px;
    width: 95%;
  }

  .signup-class .share-options {
    height: auto;
  }

  .signup-class .share-options .share-label {
    text-align: center;
    margin-bottom: 20px;
    width: auto;
  }

  .signup-class .share-options .single-share {
    margin-top: 15px;
  }

  .signup-class .share-options .share-option {
    height: auto;
  }

  .signup-class .share-options .share-option .total {
    text-align: left;
    margin-bottom: 10px;
  }

  .signup-class .share-options .share-option select {
    width: 100%;
  }

  .signup-class .share-options .price {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .signup-class .member-info .form-control {
    margin-bottom: 15px;
  }

  .signup-class .delivery .delivery-options .share-label {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto 30px;
    width: 100%;
  }

  .signup-class .delivery .delivery-options .delivery-option {
    display: block;
    border: 1px solid #ccc;
    width: 95%;
    text-align: center;
    margin: 10px auto;
    background-color: rgba(201, 135, 2, 0.1);
  }

  .signup-class .delivery .delivery-options .feedback-messages .message {
    margin-left: 0;
    text-align: center;
  }

  .signup-class .delivery .delivery-options .feedback-messages .dropoff-message {
    text-align: center;
    margin: 15px auto 5px;
  }

  .signup-class .delivery .dropoff {
    margin: 5px auto;
    width: 90%;
  }

  .signup-class .date-selection .share-dates {
    padding: 0 0 35px;
  }

  .signup-class .date-selection .share-dates .share-label {
    text-align: center;
    font-size: 1.2rem;
    margin: 35px auto;
  }

  .signup-class .date-selection .share-dates .pickup-date {
    padding: 8px;
    margin: 0;
  }

  .signup-class .summary .share-summary span {
    padding-left: 0;
    padding-right: 4px;
  }

  .signup-class .summary .share-summary .text-center {
    text-align: left;
  }

  .signup-class .summary .share-summary .item-label {
    margin: 0;
  }

  .signup-class .summary .share-summary .date {
    margin-right: 0;
  }

  .signup-class .summary .share-summary .price,
  .signup-class .summary .share-summary .dropoff-location,
  .signup-class .summary .share-summary .dropoff-address {
    margin-bottom: 5px;
  }

  .signup-class .summary .share-summary .shareoptionlabel,
  .signup-class .summary .share-summary .price,
  .signup-class .summary .share-summary .delivery-method,
  .signup-class .summary .share-summary .dropoff-location,
  .signup-class .summary .share-summary .weeks-selected {
    padding-left: 15px;
  }

  .signup-class .summary .share-summary .share-total {
    text-align: center;
  }

  .signup-class .summary .payment .payment-options .payment-option {
    display: block;
    width: 95%;
    margin-bottom: 15px;
  }

  .signup-class .summary .payment form #number {
    width: 95%;
  }

  .signup-class .summary .payment form #exp_month {
    margin-bottom: 5px;
  }
}

.error {
  color: #a94442;
  display: none;
  margin-top: 30px;
}

.has-error .error {
  display: block;
}

.addresses > div:first-child {
  color: #c98702;
  font-family: RalewayRegular;
}

.addresses .list-container {
  border: 1px solid black;
  margin-top: 15px;
  max-height: 300px;
  overflow-y: auto;
}

.addresses .address {
  color: #155D75;
  cursor: pointer;
  padding: 10px;
}

.addresses .address:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.addresses .address.selected {
  background-color: rgba(201, 135, 2, 0.3);
}

.addresses .address + .address {
  border-top: 1px solid black;
}
.mytable {
  height: 100%;
  position: relative;
}

.mytable.no-items {
  color: red;
  padding-top: 20px;
  text-align: center;
}

.mytable.no-items:before {
  content: 'No items';
  display: block;
}

.mytable.no-items table {
  display: none;
}

.mytable table {
  border-collapse: collapse;
  width: 100%;
  display: block;
}

.mytable table tr {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  padding: 10px 0px;
}

.mytable table th,
.mytable table td {
  display: inline-block;
  float: left;
  padding: 0px 20px;
  vertical-align: middle;
}

.mytable table thead {
  display: block;
}

.mytable table thead tr th {
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 15px;
}

.mytable table tbody {
  display: block;
}

.mytable table tbody.no-items {
  color: gray;
  padding-top: 20px;
  text-align: center;
}

.mytable table tbody.no-items:before {
  content: 'No items';
  display: block;
}

.mytable table tbody .delete-btn,
.mytable table tbody .edit-btn {
  position: absolute;
  transition: all 1s ease;
}

.mytable table tbody tr:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 3;
}

.mytable table tbody td {
  overflow: auto;
}