table tbody tr:hover {
  border-color: #ccc;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 3;
}
.admin-header {
  background-color: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
  height: 5rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.admin-header > :first-child {
  height: 100%;
  margin: 0 auto;
  max-width: 61.25rem;
}

.admin-header > :first-child .logo-container {
  float: left;
  line-height: 5rem;
}

.admin-header > :first-child .logo-container img {
  height: 2rem;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/static/fonts/glyphicons-halflings-regular.eot");
  src: url("/static/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("/static/fonts/glyphicons-halflings-regular.woff2") format('woff2'), url("/static/fonts/glyphicons-halflings-regular.woff") format('woff'), url("/static/fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("/static/fonts/glyphicons-halflings-regular.svg") format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url("/static/fonts/Lato-Regular.eot");
  src: url("/static/fonts/Lato-Regular.woff2") format('woff2'), url("/static/fonts/Lato-Regular.woff") format('woff'), url("/static/fonts/Lato-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: url("/static/fonts/Lato-Bold.eot");
  src: url("/static/fonts/Lato-Bold.woff2") format('woff2'), url("/static/fonts/Lato-Bold.woff") format('woff'), url("/static/fonts/Lato-Bold.ttf") format('truetype');
}

@font-face {
  font-family: 'LatoLight';
  src: url("/static/fonts/Lato-Light.eot");
  src: url("/static/fonts/Lato-Light.woff2") format('woff2'), url("/static/fonts/Lato-Light.woff") format('woff'), url("/static/fonts/Lato-Light.ttf") format('truetype');
}

.modal-backdrop {
  bottom: 0;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  height: 100%;
}

body.admin {
  padding-top: 5rem;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
}

.alert {
  padding: 5px;
  margin: 5px 0 10px 0;
}

.heading {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}

.sub-heading {
  font-size: 2rem;
  line-height: 3em;
  text-align: center;
}

.w10 {
  width: 10%;
}

.w15 {
  width: 15%;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w70 {
  width: 70%;
}
#header > .wrapper {
  background-image: url("/static/img/unnamed (11).jpg");
  background-size: 1300px 500px;
  background-repeat: no-repeat;
  color: #666;
}

.navbar {
  height: 500px;
}

.navbar .navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar .navbar-nav li {
  display: inline-block;
  float: none;
  margin: 0 16.5px;
  text-align: center;
  font-family: "proxima-nova";
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#logo h1 {
  text-align: center;
  width: 100%;
}

#logo .site-title-span {
  display: inline-block;
  color: black;
  font-family: "Raleway";
  font-size: 75px;
  line-height: 1em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  font-style: normal;
}
.mytable {
  height: 100%;
}

.mytable.no-items {
  color: red;
  padding-top: 20px;
  text-align: center;
}

.mytable.no-items:before {
  content: 'No items';
  display: block;
}

.mytable.no-items table {
  display: none;
}

.mytable table {
  border-collapse: collapse;
  width: 100%;
  display: block;
}

.mytable table tr {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  padding: 10px 0px;
}

.mytable table th,
.mytable table td {
  display: inline-block;
  float: left;
  padding: 0px 20px;
  vertical-align: middle;
}

.mytable table thead {
  display: block;
}

.mytable table thead tr th {
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 15px;
}

.mytable table tbody {
  display: block;
}