.AddTransaction {
  border: 1px solid #000;
}
.AddTransaction form {
  display: flex;
  opacity: 0.25;
}
.AddTransaction form >select,
.AddTransaction form >input {
  flex: 2;
  margin: 0.25rem;
}
.AddTransaction form >select:last-child,
.AddTransaction form >input:last-child {
  flex: 4;
}
.AddTransaction form.active {
  opacity: 1;
}
.AddTransaction form:hover {
  opacity: 1;
}
.AddTransaction .ButtonFlow >div {
  width: 100%;
}
.AddTransaction .ButtonFlow >div.start button {
  width: 100%;
}
.AddTransaction .ButtonFlow >div.confirm {
  display: flex;
}
.AddTransaction .ButtonFlow >div.confirm button {
  flex: 1;
}
.AdminPlus {
  margin-top: 7.5rem;
  text-align: center;
}
.AdminPlus .manage-btn {
  background-color: #f2f2f2;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  color: #c98702;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 1.25rem;
  text-align: center;
  width: 16rem;
  text-transform: uppercase;
}
.AdminPlus .manage-btn:hover {
  background-color: #ebebeb;
}
.ButtonFlow button,
.ButtonFlow svg {
  cursor: pointer;
}
.ButtonFlow button.disabled,
.ButtonFlow svg.disabled {
  opacity: 0.25;
  cursor: default;
}
.ButtonFlow button.link,
.ButtonFlow svg.link {
  border: none;
  background: none;
  color: #000;
}
.ButtonFlow button.link:hover,
.ButtonFlow svg.link:hover {
  text-decoration: underline;
}
.CustomerInfo .content .data .customer-table {
  text-align: left;
}
.CustomerInfo .content .data .customer-table .table-row {
  display: flex;
  align-items: center;
}
.CustomerInfo .content .data .customer-table .table-row div[contenteditable=true]:focus {
  outline: 0;
  background-color: #fce1ac;
  color: #555;
}
.CustomerInfo .content .data .customer-table .table-row select {
  padding: 5px;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn {
  padding-right: 0;
  overflow-x: visible;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn .ms-res-item .produce-family {
  font-weight: bold;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn .ms-res-item .produce-in-family {
  margin-left: 1rem;
  font-weight: normal;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn .ms-sel-ctn {
  margin-left: 0;
  overflow-x: hidden;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn .ms-trigger {
  background-color: #eee;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn .ms-trigger .ms-trigger-ico {
  margin-top: 12px;
}
.CustomerInfo .content .data .customer-table .table-row .ms-ctn-focus {
  box-shadow: none;
}
.ManageCustomer {
  padding: 7rem 1.5rem 1.5rem;
}
.ManageCustomer .main-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ManageCustomer .main-search .form-grouping {
  margin: 0;
}
.ManageCustomer .main-search .form-grouping input {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.75rem 0.5rem;
  width: 25rem;
}
.ManageCustomer .main-search .form-grouping .form-label {
  color: #c98702;
  font-size: 1.4rem;
}
.ManageCustomer .section {
  border-top: 1px solid #eee;
  margin-top: 2rem;
}
.ManageCustomer .section-heading {
  display: inline-block;
  margin: 2rem 0 1rem;
}
.ManageCustomer .section-heading >div,
.ManageCustomer .section-heading >span {
  display: inline-block;
  font-weight: bold;
  margin: 0 0.5rem;
}
.ManageCustomer h3 {
  display: inline-block;
  color: #c98702;
  font-weight: bold;
  margin: 0;
  font-size: 1.2rem;
}
.ManageCustomer ol {
  margin-bottom: 0;
  -webkit-padding-start: 0;
}
.ManageCustomer .cell,
.ManageCustomer .ms-ctn {
  background-color: #fff;
  padding: 3px 5px;
  height: 1.9rem;
  border: 1px solid #000;
  font-size: 0.9rem;
  font-weight: bold;
  width: 16rem;
  overflow-x: hidden;
  white-space: nowrap;
}
.ManageCustomer .edited {
  color: rgba(57,132,57,0.8);
}
.ManageCustomer button {
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid transparent;
  padding: 0.25rem 0.8rem;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  border-radius: 0.25rem;
  color: #fff;
}
.ManageCustomer button:focus {
  outline: 0;
}
.ManageCustomer button.reset-btn {
  background-color: transparent;
  text-decoration: underline;
  color: #155d75;
  font-size: 1rem;
  letter-spacing: 0;
  padding: 0 0.5rem;
}
.ManageCustomer button.save-btn {
  background-color: #155d75;
}
.ManageCustomer select:focus {
  outline: 0;
}
.ManageCustomer .content {
  display: flex;
}
.ManageCustomer .content .data {
  text-align: center;
}
.ManageCustomer .content .edit-summary {
  margin-left: 3rem;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-weight: bold;
  min-width: 30%;
}
.ManageCustomer .content .edit-summary >div:first-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 0.5rem;
  font-weight: bold;
  font-family: "RalewayRegular";
  background-color: #e7e7e7;
  color: #666;
}
.ManageCustomer .content .edit-summary >div:nth-child(2) {
  flex: 1 1 auto;
  padding: 1rem;
}
.ManageCustomer .content .edit-summary >div:nth-child(2) >div {
  padding-bottom: 0.25rem;
}
.ManageCustomer .content .edit-summary >div:nth-child(2) >div >span {
  padding: 0 1rem;
  font-weight: normal;
}
.ManageCustomer .content .edit-summary >div:nth-child(2) >div >span:first-child {
  color: rgba(169,23,23,0.7);
}
.ManageCustomer .content .edit-summary >div:nth-child(2) >div >span:last-child {
  color: rgba(57,132,57,0.8);
}
.ManageCustomer .content .edit-summary >div:nth-child(3) {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 0.5rem;
  text-align: center;
}
.OrderOptions ol {
  text-align: left;
}
.OrderOptions ol li {
  display: flex;
  align-items: center;
}
.OrderOptions ol li.editable {
  padding: 0.25rem 0;
}
.OrderOptions ol li span:first-child {
  color: #155d75;
  width: 8rem;
}
.OrderOptions ol li select {
  height: 2rem;
  padding: 0.3rem 0.6rem;
  background-color: #fff;
  border-radius: 0.15rem;
  border: 1px solid #ccc;
}
.OrderOptions ol li select:focus {
  box-shadow: 0 0 3px 1px #ccc;
}
.OrderOptions ol li select:disabled {
  opacity: 0.4;
}
.Seasons .share-label {
  margin-right: 1rem;
  cursor: pointer;
}
.Seasons .share-label.selected {
  background-color: #fce1ac;
}
.Toast {
  background-color: #b13325;
  border-radius: 5px;
  box-shadow: 0 0 12px #999;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.8;
  position: fixed;
  padding: 1rem;
  right: 2rem;
  top: 2rem;
  transition: all 3s ease-in-out;
  z-index: 200;
}
.Toast.success {
  background-color: #4aa252;
}
.Toast >div:first-child {
  float: left;
  padding: 0.5rem;
}
.Toast >div:first-child svg {
  fill: #fff;
  stroke: #fff;
  height: 2rem;
  width: 2rem;
}
.Toast >div:nth-child(2) {
  float: left;
  padding: 0 0.5rem;
}
.Toast >div:nth-child(2) >div:first-child {
  font-weight: bold;
}
.Transactions .heading {
  display: flex;
}
.Transactions .heading >h3,
.Transactions .heading >span {
  border: none;
  flex: 4;
  font-size: 1rem;
  margin: 0rem;
  padding: 0.25rem;
  line-height: 1rem;
}
.Transactions .heading >h3:last-child,
.Transactions .heading >span:last-child {
  flex: 6;
}
.Transactions .heading >h3:first-child,
.Transactions .heading >span:first-child {
  flex: 1;
}
.Transactions ol li {
  display: flex;
  position: relative;
}
.Transactions ol li span {
  flex: 4;
  padding: 1rem;
}
.Transactions ol li span.cell {
  background-color: transparent;
  padding: 0.25rem;
  border: 1px solid #000;
  font-size: 0.9rem;
  font-weight: bold;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
}
.Transactions ol li span.negative {
  color: #f00;
}
.Transactions ol li span.negative:before {
  content: '(';
}
.Transactions ol li span.negative:after {
  content: ')';
}
.Transactions ol li span:last-child {
  text-align: left;
  flex: 6;
}
.Transactions ol li span:first-child {
  text-align: left;
  flex: 1;
}
.Transactions ol li .ButtonFlow .ex {
  left: 0.5rem;
}
.Transactions ol li .ButtonFlow .edit {
  left: 1.5rem;
}
.Transactions ol li .ButtonFlow .ex,
.Transactions ol li .ButtonFlow .edit {
  cursor: pointer;
  height: 1rem;
  position: absolute;
  top: 0.5rem;
  width: 0.75rem;
}
.Transactions ol li .ButtonFlow .link {
  display: block;
}
.Transactions ol li.marked {
  background-color: #000;
  background-opacity: 0.5;
}
.Transactions .balance {
  display: flex;
}
.Transactions .balance h3,
.Transactions .balance span {
  flex: 2;
  font-size: 1rem;
  margin: 0rem;
  padding: 0.25rem;
  line-height: 1rem;
  text-align: center;
}
.Transactions .balance h3:last-child,
.Transactions .balance span:last-child {
  flex: 4;
}
.WeekOptions .content .data {
  text-align: left;
}
.WeekOptions .content .data .review-btn {
  margin-left: 9rem;
}
.WeekOptions .content .data ol {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-top: 1rem;
}
.WeekOptions .content .data ol .delivery-date {
  width: 5rem;
  background-color: #555;
  border: 1px solid #f5f5dc;
  box-shadow: 1px 2px 5px #ccc;
  color: #bf8002;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "RalewayRegular";
  padding: 0.6rem 1.4rem;
  margin: 1px;
  line-height: 1.2;
}
.WeekOptions .content .data ol .delivery-date.edited {
  border: 1px solid rgba(169,23,23,0.7);
}
.WeekOptions .content .data ol .delivery-date:hover {
  background-color: #5e5e5e;
}
.WeekOptions .content .data ol .delivery-date.selected {
  background-color: rgba(201,135,2,0.3);
  color: #c98702;
  opacity: 1;
}
.WeekOptions .content .data ol .delivery-date.selected.edited {
  border: 1px solid rgba(57,132,57,0.8);
}
.WeekOptions .content .data ol .delivery-date.unselectable {
  cursor: not-allowed;
  opacity: 0.3;
}
.WeekOptions .content .data ol .delivery-date >div {
  font-weight: bold;
}
.WeekOptions .content .data ol .delivery-date >div:first-child {
  font-weight: normal;
}
.WeekOptions .content .edit-summary >div:nth-child(2) {
  display: flex;
  justify-content: center;
}
.WeekOptions .content .edit-summary >div:nth-child(2) .column {
  text-align: center;
  padding: 0 1rem;
}
.WeekOptions .content .edit-summary >div:nth-child(2) .column .added-dates {
  color: rgba(169,23,23,0.7);
}
.WeekOptions .content .edit-summary >div:nth-child(2) .column .removed-dates {
  color: rgba(169,23,23,0.7);
}
.WeekOptions .content .edit-summary >div:nth-child(2) .column >div:first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.fd-hide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.fd-hidden {
  display: none !important;
}
body.admin-plus {
  background-color: #f9f9f9;
}
.form-grouping {
  margin-bottom: 1rem;
}
.form-grouping.horizontal {
  display: flex;
  align-items: center;
}
.form-grouping.horizontal .form-label {
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 0;
}
.input-std {
  position: relative;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
}
.input-std:focus {
  outline: 0;
  box-shadow: 0 0 3px 1px #ccc;
}
.form-label {
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
