.AdminPlus {
  margin-top: 105px;
  text-align: center;
}
.AdminPlus .manage-btn {
  background-color: #f2f2f2;
  border: 1px solid #bbb;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #ccc;
  color: #c98702;
  display: inline-block;
  font-family: "RalewayRegular";
  padding: 20px;
  text-align: center;
  width: 250px;
  text-transform: uppercase;
}
.AdminPlus .manage-btn:hover {
  background-color: #ebebeb;
}
.ManageCustomer {
  padding: 7rem 1.5rem 1.5rem;
}
.ManageCustomer .main-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ManageCustomer .main-search .form-grouping {
  margin: 0;
}
.ManageCustomer .main-search .form-grouping input {
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.75rem 0.5rem;
}
.ManageCustomer .main-search .form-grouping .form-label {
  color: #c98702;
  font-size: 1.4rem;
}
.ManageCustomer h3 {
  color: #c98702;
  font-weight: bold;
  margin-top: 2rem;
  padding-top: 2rem;
  font-size: 1.2rem;
  border-top: 1px solid #eee;
}
.ManageCustomer ol {
  -webkit-padding-start: 0;
}
.ManageCustomer .table-row {
  display: flex;
  align-items: center;
}
.ManageCustomer .table-row .cell {
  background-color: #fff;
  padding: 1px 5px;
  border: 1px solid #000;
  font-size: 0.9rem;
  font-weight: bold;
  width: 250px;
  overflow-x: hidden;
  white-space: nowrap;
}
.Seasons .share-label {
  margin-right: 1rem;
  cursor: pointer;
}
.Seasons .share-label.selected {
  background-color: #fce1ac;
}
.Toast {
  background-color: #b13325;
  border-radius: 5px;
  box-shadow: 0 0 12px #999;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  opacity: 0.8;
  position: fixed;
  padding: 1rem;
  right: 2rem;
  top: 2rem;
  transition: all 3s ease-in-out;
  z-index: 200;
}
.Toast.success {
  background-color: #4aa252;
}
.Toast >div:first-child {
  float: left;
  padding: 0.5rem;
}
.Toast >div:first-child svg {
  height: 2rem;
  width: 2rem;
}
.Toast >div:nth-child(2) {
  float: left;
  padding: 0 0.5rem;
}
.Toast >div:nth-child(2) >div:first-child {
  font-weight: bold;
}
.Transactions .heading {
  display: flex;
}
.Transactions .heading >h3,
.Transactions .heading >span {
  border: none;
  flex: 2;
  font-size: 1rem;
  margin: 0rem;
  padding: 1rem;
  line-height: 1rem;
}
.Transactions .heading >h3:last-child,
.Transactions .heading >span:last-child {
  flex: 4;
}
.Transactions ol li {
  display: flex;
}
.Transactions ol li span {
  flex: 2;
  padding: 1rem;
}
.Transactions ol li span:last-child {
  flex: 4;
}
.WeekOptions >div:first-child {
  font-weight: bold;
}
.WeekOptions ol {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  margin-top: 1rem;
}
.WeekOptions ol .delivery-date {
  background-color: #555;
  border: 1px solid #f5f5dc;
  box-shadow: 1px 2px 5px #ccc;
  color: #bf8002;
  opacity: 0.7;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "RalewayRegular";
  padding: 0.6rem 1.4rem;
  margin: 1px;
  line-height: 1.2;
}
.WeekOptions ol .delivery-date:hover {
  background-color: #5e5e5e;
}
.WeekOptions ol .delivery-date.selected {
  background-color: rgba(201,135,2,0.3);
  color: #c98702;
  opacity: 1;
}
.WeekOptions ol .delivery-date.unselectable {
  background-color: rgba(85,85,85,0.1);
  cursor: not-allowed;
  opacity: 0.3;
}
.WeekOptions ol .delivery-date >div {
  font-weight: bold;
}
.WeekOptions ol .delivery-date >div:first-child {
  font-weight: normal;
}
.fd-hide {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.fd-hidden {
  display: none !important;
}
body.admin-plus {
  background-color: #f9f9f9;
}
.btn-ghost {
  color: #2d2d2d;
  background-color: #fff;
  border-color: #2d2d2d;
  display: inline-block;
  min-width: 15rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border: 3px solid;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.btn-ghost:hover,
.btn-ghost:focus {
  background-color: #2d2d2d;
  color: #fff;
}
.btn-ghost:active {
  background-color: #626262;
  color: #fff;
  border-color: #626262;
}
.form-grouping {
  margin-bottom: 1rem;
}
.form-grouping.horizontal {
  display: flex;
  align-items: center;
}
.form-grouping.horizontal .form-label {
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 0;
}
.input-std {
  position: relative;
  background-color: #fff;
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 0.2rem;
}
.input-std:focus {
  outline: 0;
  box-shadow: 0 0 1px 1px #ccc;
}
.form-label {
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.input-flat {
  display: block;
  padding: 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #2d2d2d;
}
.input-flat:focus {
  background-color: #ddd;
}
.input-flat::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-flat::-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-flat:-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-flat:-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless {
  display: block;
  background-color: #ddd;
  padding: 0.5rem;
  border: none;
}
.input-borderless:focus {
  background-color: #eee;
}
.input-borderless::-webkit-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless::-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless:-ms-input-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.input-borderless:-moz-placeholder {
  font-size: 0.9rem;
  font-style: italic;
}
.valid .feedback,
.valid .form-label {
  color: #08703c;
}
.valid .form-input {
  border-color: #075f33;
}
.valid .form-input,
.valid .input-borderless,
.valid .input-flat {
  background-color: #dbfceb;
}
.error .feedback,
.error .form-label {
  color: #982c1f;
}
.error .form-input {
  border-color: #81251a;
}
.error .form-input,
.error .input-borderless,
.error .input-flat {
  background-color: #f9e6e4;
}
