.About
    
    section
        padding: 2.5rem 20%
        
        &:nth-child(even)
            color: #e7e7e7
            background-color: $sun-red
            
            >h2
                color: white
        
    h1, h2
        color: $sun-red
        letter-spacing: 0
      
    h1
        margin: 3rem 20%
        font-weight: bold
        font-size: 1.7rem
        
    h2
        margin-bottom: .5rem
        font-size: 1.3rem
        
    .link
        color: white
        cursor: pointer
        font-weight: bold
        &:hover
            text-decoration: underline
        
    .bios
        display: flex
        justify-content: center
        flex-wrap: wrap
        margin: 2rem 0

        .bio
            margin: 0 4rem 2rem 0
            
            >div:first-child
                position: relative
                    
                &:hover
                    .overlay
                        opacity: 1
            
                >img
                    border-radius: 50%
                    border: 1px solid transparent
                    width: 9rem
                    height: 9rem
                    margin: 0
                        
                .overlay
                    border-radius: 50%
                    border: 1px solid transparent
                    position: absolute
                    height: 100%
                    width: 100%
                    top: 0
                    text-align: center
                    color: white
                    background-color: rgba(0,0,0,.6)
                    transition: opacity .3s ease-in-out
                    display: flex
                    opacity: 0
                    justify-content: center
                    align-items: center
                    font-size: .7rem
                    line-height: 1.2
                    
            >div:last-child
                text-align: center
                text-transform: uppercase
                margin-top: .75rem

    @media only screen and (max-width: 767px)
        section
            padding: 2.5rem 10%
        h1
            margin: 3rem 10%