button.submitting
    opacity: .3
    
.button-row
    display: flex
    justify-content: center
    margin: 3rem 0

.btn-yellow
    btnYellow()
            
.floating
    border: none
    background-color: $sun-yellow
    text-transform: uppercase
    border-radius: 2rem
    color: black
    font-size: .8rem
    line-height: 2rem
    height: 3rem
    padding: 0rem
    position: relative
    width: 3rem
    
    &:hover
        background-color: lighten($sun-yellow, 15%)