.btn-yellow
    color: black
    background-color: $sun-yellow
    box-shadow: 3px 3px 5px #666
    font-size: 1.25rem
    padding: .75rem 1.3rem
    border-radius: .5rem
    border: 1px solid transparent
    
    &:hover
        background-color: lighten($sun-yellow, 15%)
    &.submitting
        opacity: .3
        
.button-row
    display: flex
    justify-content: center
    margin: 3rem 0