.Cart
  padding: 2rem

  .back-btn
    color: $sun-red
    text-decoration: underline
    cursor: pointer
    margin-bottom: 2rem

  h1
    margin-left: 0
    padding-top: 0

  section
    padding: 0
    margin: 0

  .column-container
    display: flex

    .ViewList
      flex: 5
    .checkout-ui
      flex: 1
      margin-left: 1rem
      padding: 1rem
      background-color: $light-manila
      border-radius: .5rem

  .CartItem >div:first-child
    display: flex
    align-items: center
    width: 100%
    margin: .5rem 0
    padding: 1rem
    background-color: $light-manila
    border-radius: .5rem

    &:first-child
      margin-top: 0

    .image-container
      flex: 1
      img
        width: 100%

    .item-info
      flex: 5
      padding: 0 1rem

    ul
      display: flex
      &:first-child >li
        color: $sun-red

      >li
        padding: 0 .5rem
      >li:not(:first-child)
        text-align: right

      >li:first-child
        flex: 1
      >li:nth-child(2)
        flex: 1
      >li:nth-child(3)
        flex: 1
      >li:last-child
        flex: 1
    
  .ex
    width: 2rem
    height: 2rem
    cursor: pointer

  .CartItem .mobile-cart-item
    display: none
    flex: 1
    align-items: center
    width: 100%
    padding: 1rem
    background-color: $light-manila
    border-radius: .5rem

    >div
      padding: .25rem
      &:first-child
        display: flex
        align-items: center

    .image-container
      flex: 1
      img
        width: 100%

    .icon-container
      flex: 1
      text-align: center

    .item-info
      >ul
        >li
          margin: .35rem 0
          >div:first-child
            color: $sun-red

  .subtotal
      font-size: 1.2rem
      font-weight: bold
      margin-bottom: 1rem
            
  @media only screen and (max-width: 767px)
    .column-container
      display:block

      .checkout-ui
        margin-left: 0

    .list
      display: flex
      justify-content: center
      align-items: stretch
      flex-wrap: wrap

      .CartItem
        margin: .5rem

    .CartItem
      width: 275px
      >div:first-child
        display: none
      .mobile-cart-item
        height: 100%
        display: block
        flex: 1