.Contact
    section
        padding-bottom: 2.5rem
        padding-top: 0
        
    h2
        margin-bottom: 1rem
        
    .location >div:last-child >a
        color: $sun-red
        cursor: pointer