.Contact
    margin: 0 20% 5rem
        
    h1, h2
        color: $sun-red
        letter-spacing: 0
      
    h1
        margin: 3rem 0
        font-weight: bold
        font-size: 1.7rem
        
    h2
        font-size: 1.3rem
        margin-bottom: 1rem
        
    a
        color: $sun-red
        cursor: pointer
        
    @media only screen and (max-width: 767px)

        margin: 2.5rem 10% 5rem