.Csa
    
    section
        margin: 2.5rem 20% 0
        
    h1, h2
        color: $sun-red
        letter-spacing: 0
      
    h1
        margin: 3rem 20%
        font-weight: bold
        font-size: 1.7rem
    h2
        margin-bottom: .15rem
        font-size: 1.3rem
    
    h3
        text-align: center
        
    .bg-image
        margin: 3rem 0 4rem
        height: 15rem
        width: 100%
        background-color: $sun-red
        
    .button-row
        display: flex
        justify-content: center
        margin: 4rem 0
        
        >button
            color: black
            background-color: $sun-yellow
            box-shadow: 3px 3px 5px #666
            font-size: 1.25rem
            padding: .75rem 1.3rem
            border-radius: .5rem
            border: 1px solid transparent
            font-family: "RalewayRegular"
        
    .link
        color: $sun-red
        cursor: pointer
    
    .item-detail
        margin-bottom: 1rem
            
        >div
            font-size: 1rem
            
            >span:first-child
                color: $sun-red

            >span:nth-child(2)
                padding: 0 .2rem
        

    .csa-fit
        >p
            margin-bottom: .2rem
        ul
            list-style: none
            
            li::before
                content: ""
                width: .375rem
                height: .35rem
                background-color: $sun-red
                float: left
                margin: .5rem .85rem 0
                border-radius: 50%

    .csa-contents
            
        .share-examples
            display: flex
            flex-wrap: wrap
            justify-content: center
            margin: 1rem -15% 2rem
            
            >div
                text-align: center
                width: 20rem
                margin: 0 2rem
                
                h4
                    color: $sun-red
                    font-size: 1.1rem
                    
                >div img
                    height: 7.5rem
                    
                >div:nth-child(3)
                    color: $sun-red
                    margin: .25rem 0
                    
                >ul
                    display: flex
                    flex-wrap: wrap
                    
                    li
                        width: 50%
                        color: #666
                        text-align: center
                        font-size: .85rem
                        
        .share-descriptions
            margin: 2rem 0

    .delivery

        img
            display: block
            margin: 25px auto
            max-height: 400px
            max-width: 100%

        .farmpickup,
        .group-deliveries
            margin-bottom: 40px

            span:first-child
                font-weight: bold
            
        .delivery-matrix
            display: flex
            justify-content: center
            margin-top: 2.5rem
            
            .cell
                min-width: 12rem
                padding: .4rem .85rem
                margin: .085rem
                color: white
                background-color: $sun-red
                text-align: center
            
            >div
                >div
                    display: flex
                    
                    &:first-child
                        .cell
                            border: 1px solid $sun-red
                            color: $sun-red
                            background-color: white
                            
                    >div
                        &:nth-child(2)
                            order: 3
                        &:nth-child(3)
                            order: 2
                            
    .add-ons
        margin: 1rem 3.5rem 0
        
    .contact
        margin: 1rem 0
            


         


                    
        .non-size-options
            margin-bottom: 40px

            ul
                margin-left: 30px
            
            .option
                padding: 30px 0px
            
            .add-on-table
                border: 1px solid black
                width: 70%
                margin: 30px 15%

                .add-on-row
                    display: flex
                    align-items: center
                    flex-wrap: wrap
                    width: 100%
                    border-bottom: 1px solid black

                    &:last-child
                        border-bottom: none
                    
                    .add-on-name
                       font-weight: bold
                       color: $sun-yellow
                       width: 15%
                       text-align: center
                    
                    .add-on-details
                        display: flex
                        align-items: center
                        justify-content: space-between
                        border-left: 1px solid black
                        width: 85%

                        div
                            padding-left: 10px
                        
                        .add-on-price
                            font-weight: bold
                            width: 15%
                            text-align: center
                        
                        .add-on-paragraph
                            width: 55%
                        
                        .add-on-image
                            width: 30%
                            padding-right: 10px
                        
    @media only screen and (max-width: 375px)
        .first-column
            margin-bottom: 0
        
        .second-column
            margin-top: 0

    @media only screen and (max-width: 900px)
        .how .non-size-options .add-on-table
            width: 100%
            margin: 30px 0
        
    @media only screen and (max-width: 650px)
        .how .non-size-options .add-on-table
            display: block
            border: none
            width: 100%
            margin: 15px 0

            .add-on-row
                display: block
                border-bottom: none

                .add-on-name
                    width: auto
                    text-align: left
                
                .add-on-details
                    display: block
                    border-left: none
                    width: auto

                    div
                        padding-left: 0
                    
                    .add-on-price
                        width: auto
                        text-align: left
                        margin-bottom: 10px
                    
                    .add-on-paragraph
                        width: auto
                    
                    .add-on-image
                        width: auto
                        padding-right: 0
                    
                
            
        
    
    
