.CustomerInfo

    .content
        .data
            min-width: 50%
      
            .customer-table 
                text-align: left
                            
                .table-row
                    align-items: center
                    border: 1px solid #000
                    background-color: #fff
                    display: flex
                    
                    &:not(:first-child)
                        border-top: none

                    select
                        border: none
                        background-color: white
                        
                        
                    >.cell:first-child
                        min-width: 220px
                    >*:last-child
                        flex: 1
                        font-weight: normal
                        color: black
                        overflow-x: hidden
                                               
                    .ms-ctn
                        margin: 0
                        overflow: visible
                        padding-right: 0
                        
                        .ms-res-item
                            .produce-family
                                font-weight: bold

                            .produce-in-family
                                margin-left: 1rem
                                font-weight: normal
                        
                        .ms-sel-ctn
                            margin-left: 0
                        
                        .ms-trigger
                            background-color: #eee
                            .ms-trigger-ico
                                margin-top: 12px
                    
                    .ms-ctn-focus
                        box-shadow: none
                
                    &.address
                        height: 3.25rem
                        line-height: 2.75rem

                    &.neverReceive
                        white-space: inherit
