.Delivery {
    border: 1px solid;
    border-radius: 10px;
    background-color: darken(white, 3%);

    .has-error {
        .error {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }

    .signup-header {
        margin: 15px 0
    }

    .subheader {
        text-align: center;
        margin-bottom: 5px;
    }

    .delivery-options {
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 1px solid;

        .feedback-message {
            font-weight: 600;
        }

        .share-label {
            .option-total {
                color: black;
            }
        }

        .options {
            margin: 0 auto;
            text-align: center;
        }
        
        .delivery-option {
            background-color: darken(white, 6%);
            box-shadow: 1px 2px 5px #ccc;
            border-radius: 10px;
            cursor: pointer;
            display: inline-block;
            font-family: "RalewayRegular";
            padding: 10px;
            margin: 5px;
            text-align: center;
            
            >div {
                &:first-child {
                    color: #c98702;
                }

                &:nth-child(2) {
                    color: #155D75;
                }
            }

            &:hover {
                background-color: rgba(201, 135, 2, .1);
            }
            
            &.selected {
                background-color: rgba(201, 135, 2, .3);
            }
        }

        .feedback-messages {
            text-align: center;
            font-weight: bold;

            .message {
                margin-left: 16%;
                text-align: left;

            }

            .dropoff-message {
                text-align: left;
            }
        }
    }
    
    .dropoff {
        background-color: darken(white, 6%);
        box-shadow: 1px 2px 5px #ccc;
        border: 1px solid;
        border-radius: 10px;
        cursor: pointer;
        display: inline-block;
        font-family: "RalewayRegular";
        padding: 10px;
        margin: 5px;
        
        >div {
            &:first-child {
                color: #c98702;
            }

            &:nth-child(2) {
                color: #155D75;
            }
        }

        &:hover {
            background-color: rgba(201, 135, 2, .1);
        }
        
        &.selected {
            background-color: rgba(201, 135, 2, .3);
        }
    }
    
    @media only screen and (max-width: 800px) {

        .delivery .delivery-options .share-label {
            width: 148px;
        }
    }
    
    @media only screen and (max-width: 767px) {
        .delivery {

            .delivery-options {

                .share-label {
                    text-align: center;
                    font-size: 1.2rem;
                    margin: 0 auto 30px;
                    width: 100%;
                }

                .delivery-option {
                    display: block;
                    border: 1px solid #ccc;
                    width: 95%;
                    text-align: center;
                    margin: 10px auto;
                    background-color: rgba(201, 135, 2, .1);
                }

                .feedback-messages {
                    .message {
                        margin-left: 0;
                        text-align: center;
                    }

                    .dropoff-message {
                        text-align: center;
                        margin: 15px auto 5px;
                    }
                }
            }

            .dropoff {
                margin: 5px auto;
                width: 90%;
            }

        }
    }
}