.Delivery

    .delivery-options
        padding: 3rem 0
        
        &:not(:first-child)
            border-top: 1px solid $grey
            
        >div:first-child
            display: flex
            align-items: center
            margin-bottom: 1.5rem
            
            .share-label
                margin-right: 1rem
                
            >div:last-child
                flex: 1
        
        .options
            display: flex
            flex-wrap: wrap
            justify-content: center
            
            .delivery-option
                width: 11rem
                background-color: white
                color: $sun-red
                border: 2px solid
                cursor: pointer
                display: inline-block
                padding: .5rem .75rem
                margin: .25rem
                text-align: center 
                transition: all .15s ease-in-out               
                
                html.non-touch &
                    &:hover:not(.selected)
                        background-color: $light-sun-red
                        color: white
                                        
                &.selected
                    color: white
                    background-color: $sun-red

        .feedback-messages
            text-align: center
            font-weight: bold
            margin-top: .25rem


    .dropoffs
        display: flex
        flex-wrap: wrap
        justify-content: center
        
        .dropoff
            width: 45%
            padding: .75rem
            margin: 3px
            border: 1px solid
            cursor: pointer
            
            >div:first-child
                color: $sun-red
                
            &.selected
                width: auto
                background-color: $sun-red
                color: white
                border-color: transparent
                box-shadow: 1px 1px 3px $dark-grey
                transition: background-color, color .2s ease-in-out
                
                >div:first-child
                    font-weight: bold
                    color: white
             
            html.non-touch &    
                &:hover
                    box-shadow: 1px 1px 2px $dark-grey

    
    @media only screen and (max-width: 767px)
        .delivery-options >div:first-child
            flex-direction: column
            
            .share-label
                margin-right: 0
                margin-bottom: 1.5rem
                
            .feedback-messages
                margin-top: 1rem
    
    @media only screen and (max-width: 600px)
        .dropoffs
            justify-content: center
            
            .dropoff
                width: 100%
