.Footer
    flex: 1
    background-color: black
    color: white
    padding: 1.25rem 0 .75rem
    text-align: center
 
    a
        color: $sun-red
        
    p, a        
        font-size: 1rem

        