.select-wrap
    position: relative

    select
        background-color: transparent
        position: relative
        z-index: 2

    .caret-down
        fill: #a3a3a3
        stroke: #8b8b8b
        height: 1rem
        position: absolute
        right: .6rem
        top: .6rem
        width: 1rem
        z-index: 1

input, textarea
    background-color: #fff
    border: 1px solid #ccc
    padding: .3rem .5rem
    font-size: .9rem
    border-radius: .25rem
    
    &:focus
        border-color: $sun-red
        
label
    font-weight: 300
    color: $sun-red
    text-align: right
    margin-right: 1rem
    margin-bottom: 0
    
.modal label
    margin-right: 0

.Form
    width: 100%
    
    .List
        .list.no-items 
           padding: 0rem

       button.floating
           bottom: 0rem
           height: 2rem
           right: 1rem
           width: 2rem

.Form .form-group .List .list .form-group
   margin: .5rem 0

.Form .form-group .List .list .item
   padding: 0 3rem
