.select-wrap
    position: relative

    select
        background-color: transparent
        position: relative
        z-index: 2

    .caret-down
        fill: #a3a3a3
        stroke: #8b8b8b
        height: 1rem
        position: absolute
        right: .6rem
        top: .6rem
        width: 1rem
        z-index: 1

input
    background-color: #fff
    border: 1px solid #b5b5b5
    padding: .25rem 

    +placeholder()
        color: #999997

input, select
    //font-size: 1.25rem
    //font-weight: 100
    line-height: 1.5rem
    width: 100%

    &:focus
        border-color: $sun-red

select 
    background-color: white
    padding: .25rem
    //-webkit-appearance: none
    //-moz-appearance: none
    //appearance: none

.Form
    .List
       .list.no-items 
           padding: 0rem

       button.floating
           bottom: 0rem
           height: 2rem
           right: 1rem
           width: 2rem

.Form .form-group .List .list .form-group
   margin: .5rem 0rem

.Form .form-group .List .list .item
   padding: .5rem 1rem
