.GetInvolved
    
    section
        padding: 2.5rem 20%
        
        &:nth-child(even)
            color: #e7e7e7
            background-color: $sun-red
            
            >h2
                color: white
                
            a
                color: white
        
    h1, h2, h3
        color: $sun-red
        letter-spacing: 0
      
    h1
        margin: 3rem 20%
        font-weight: bold
        font-size: 1.7rem
        
    h2
        margin-bottom: .25rem
        font-size: 1.3rem
    
    h3
        font-size: 1rem
        margin-bottom: .15rem
        
    a
        color: $sun-red
        cursor: pointer
        font-weight: bold
        
        &:hover
            text-decoration: underline
            
    .positions
        >div
            margin: 1.5rem 0
            font-weight: bold
            
            &:last-child
                margin-bottom: 0
        
    .internship-description
        margin: 2rem 0
        
        >div
            margin: 1rem 2rem
        
        ul
            list-style: none
            
            >li
                position: relative
                margin-left: 1.25rem
            
                &::before
                    listCircle($sun-red)
                    
    @media only screen and (max-width: 767px)
    
        section
            padding: 2.5rem 10%
            
        h1
            margin: 3rem 10%
            
        .internship-description >div
            margin: 1rem
            

        