.List
    position: relative

    .list

        &.no-items
            padding-top: 1rem

            &::before
                content: 'No Items'
                
        &.is-dragging *
            cursor: move

        li
            align-items: center
            display: flex
            cursor: pointer
            position: relative
            flex-wrap: wrap

            >.selection
                align-items: center
                display: flex
                flex: 1
                justify-content: center

                input
                    display: none
                    width: initial
                    transform: scale(2)
                    -ms-transform: scale(2)
                    -webkit-transform: scale(2)

            >.item
                flex: 1
                overflow: hidden
                position: relative
                text-overflow: ellipsis
                white-space: nowrap

            
            >.buttons
                align-items: center
                display: flex
                justify-content: center
                position: absolute
                right: 1rem

                svg
                    display: none
                    width: 1.25rem
                    height: 1.25rem

            .drag
                bottom: 0px
                font-size: .5rem
                position: absolute
                flex: none
                line-height: 0.25rem

            &:hover:not(.is-dragging)
                background-color: $light-grey

                >.buttons
                    svg
                        display: inline-block

                >.selection input
                    display: inherit

            &.checked 
                background-color: $light-grey

                >.selection input
                    display: inherit
            
            &.is-dragging
                background-color: $light-grey
                
            &.dragover-top
                &::before
                    dropzone()
                    
            &.dragover-bottom
                &::after
                    dropzone()
                
        &.is-dragging
            li
                >.buttons
                    svg
                        display: none

                >.selection input
                    display: none

            li:not(.is-dragging)
                &:hover
                    background-color: initial

        &.is-droppable
            li.mouseover
                background-color: $light-grey

    >button
        bottom: 2rem
        right: 2rem
    
    >button+button
        bottom: 8rem
    
    >button+button+button
        bottom: 14rem
                
    .heading
        border-bottom: 1px solid $LightGray
        color: black
        font-size: 1.5rem
        font-weight: 700
        line-height: 1.5rem
        padding: .75rem .25rem
        position: relative

        button
            left: 1rem
            position: absolute
            top: .25rem

        &.side-by-side
            border-bottom: none
            font-size: 1rem
            font-weight: 400
            padding: 0

        &.is-hidden
            .caret-down
                transform: rotate(180deg)

        &.toggle
            &:hover
                cursor: pointer
                font-weight: 700
