.MemberInfo
    
    >p
        margin-bottom: 2rem

    .MemberTypeahead
        margin: 2rem

    .notice
        padding: .75rem
        background-color: $sun-red
        color: white
        border-radius: .5rem
        border: 1px solid transparent
        margin-bottom: 2rem

    .produce-family
        font-weight: bold

    .produce-in-family 
        margin-left: 15px

    .help-block
        text-align: center
        font-size: .75rem
    
    .form-group
        display: flex
        align-items: center
        
        &.has-error
            align-items: baseline
        
        label
            flex: 2
            
        >div
            flex: 5
            position: relative
        
            .help-block
                margin-bottom: 0
                
        .ms-helper
            color: black
            font-size: 11px
            
        .ms-sel-ctn >input
            height: auto
                
    .control-label[for="omission"]
        position: relative

        .glyphicon-info-sign
            position: absolute
            right: -7px
            cursor: pointer
            color: #155D75
    
    @media only screen and (max-width: 767px)
        .member-info
            .form-control
                margin-bottom: 15px

            .form-group .ms-helper
                top: -14px