.Seasons
    
    ol
        display: flex
        flex-wrap: wrap
        align-items: center

    .share-label
        margin-right: 1rem
        margin-bottom: 1.5rem
        cursor: pointer
        &.selected
            background-color: $bright-yellow
    
    .totals
        >div:first-child
            color: $sun-red
            margin-bottom: .15rem
            font-size: 1.2rem
        margin-bottom: 1.5rem
        
    .ButtonFlow
        .state
            width: 22rem
        .delete-btn
            background-color: $sun-red
            color: white
        .reset-btn
            margin-left: 1rem

    >div:last-child
        font-weight: bold
            
    @media only screen and (max-width: 767px)
        ol
            justify-content: center
    
