.Shares
    
    >h2
        margin: 2rem 0

    &.has-error
        //border: 1px solid #a94442
        //border-radius: 15px

    .share
        cursor: pointer
        margin-bottom: 1.9rem
        padding: .75rem
        border: 1px solid transparent
        border-radius: .35rem
        
        &:hover
            border-color: rgba(201, 135, 2, .7)
            &.inactive
                border-color: transparent
        
        &.selected
            background-color: rgba(255,197,2,.3)

        &.inactive
            cursor: default
            
        >div
            display: flex
            align-items: center
            
    @media only screen and (max-width: 550px)
    
        .share
            >div
                display: block
                
                >div
                    display: flex
                    justify-content: center
                    
                    .share-label
                        margin-bottom: 1rem