.share-label
    background-color: $sun-yellow
    border-radius: .35rem
    box-shadow: 2px 2px 5px $dark-grey
    color: black
    font-size: 1rem
    padding: .75rem
    text-align: center
    width: 10.5rem

    >div
        &:first-child
            font-size: 1.25rem

        &:nth-child(2)
            color: white
            margin: .25rem 0

            .inactive &
                color: $dark-grey

    .inactive &
        background-color: $grey
        color: $dark-grey