.ShareOptions

    li
        padding: 3rem 0
        
        &:not(:last-child)
            border-bottom: 1px solid $grey
        
        >div:last-child
            text-align: center
            font-weight: bold
        
        .total
            font-size: .75rem
            text-align: right

        .single-share
            display: flex
            flex-direction: column
                
            h4
                color: $sun-red
                font-weight: bold
                
            >div
                margin-bottom: 1rem
                
                &:first-child
                    display: flex
                    justify-content: center
                
                    .share-label
                        margin-bottom: 2rem
            
            .share-option
                &:not(:first-child)
                    margin-top: .5rem

                .option-title
                    display: flex
                    align-items: center
                    justify-content: flex-end
                    color: $sun-red
                    
                    >div:last-child
                        min-width: 3.5rem
                        margin-left: 1rem

                .glyphicon
                    top: 2px
                    left: 5px
                    cursor: pointer
                            
    @media only screen and (max-width: 600px)
        li .single-share
            flex-direction: column
            
            .share-label
                margin-right: 0
                margin-bottom: 2rem