.Shopping
  padding: 2rem

  .ViewList
    padding: 0
    margin: 0

  .list
    display: flex
    flex-wrap: wrap

    .shopping-item
      width: 30%
      min-width: 320px
      margin: .5rem
      background-color: $light-manila
      border-radius: .5rem
      display: flex
      flex-direction: column
      padding: 1.25rem

      .description
        flex: 1

      .price
        color: $sun-red
        >span
          margin-left: .75rem
          font-weight: bold
          font-size: 1.1rem

      >div
        padding: .5rem 0

      img
        width: 100%