.StoreOrders
  .StoreOrderDetails
    margin: 1rem 0
    h5
      margin: 0
      margin-bottom: .25rem
      background-color: $sun-red
      color: white
      font-weight: bold
      padding: .5rem

    .detail-item
      margin: .15rem 0
      padding: .35rem
      background-color: $light-manila
      border-radius: .35rem

  .balance
    margin: 1rem 0
    font-size: 1.2rem
    font-weight: bold

  .Form
    margin: 2rem 0
    padding: 1rem
    background-color: $light-manila

    .btn-row
      text-align: left