.Transactions
    padding-top: 2rem
    margin-bottom: 4rem

    .heading
        display: flex
        margin-top: 1rem

        >span
            border: none
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
            width: 8.25rem
                
            &:last-child
                flex: 1

    ol
        background-color: $light-manila
        li
            display: flex
            height: 2.75rem
            position: relative

            >input, select
                margin: .25rem

            > span.cell, input, select
                width: 8.25rem

                &.cell
                    background-color: transparent
                    padding: .25rem
                    border: 1px solid black
                    font-weight: bold
                    overflow-x: auto
                    overflow-y: hidden
                    text-align: center
                    white-space: nowrap

                &.negative
                    color: red
                
                &.negative:before
                    content: '('
                
                &.negative:after
                    content: ')'

                &:last-child
                    text-align: left
                    flex: 1

            .ButtonFlow            
                height: 100%

                .start
                    display: flex
                    height: 100%

                    .garbage, .edit
                        flex: 1
                        padding: .2rem

                .onDelete
                    background-color: $edit-red
                    height: 100%
                
                .onEdit
                    background-color: $edit-green
                    height: 100%

                .ex
                    position: absolute
                    right: 0rem
                    top: 0.1rem
                    width: 0.5rem

                    &:hover
                        stroke: red
                
                .link
                    color: white
                    font-size: .5rem
                    padding: 0px
                    vertical-align: sub
                    width: 100%


            &.confirming-delete
                background-color: rgba( 0, 0, 0, .2 )
            
            &.edit-transaction
                background-color: $edit-green

                >span
                    &:first-child
                        flex: 1

            &.confirming-edit
                .cell
                    &:not(:first-child)
                        opacity: .5

    .balance
        display: flex
        align-items: center
        margin-top: 1.5rem

        h3, span
            font-size: 1rem
            margin: 0
            width: 8.25rem
            text-align: center
            padding: .25rem
            line-height: 1rem
                
            &:last-child
                flex: 1
                
                .ButtonFlow button
                    margin: 0 1rem
                    &:not(.reset-btn)
                        background-color: $sun-red
                        color: white
            
