.Unsubscribe
    padding: 3rem
    >div:first-child
        text-align: center
        padding-bottom: .35rem
        font-size: 1.1rem
        
    >div:last-child
        display: flex
        justify-content: center
        align-items: center
        
        .btn-yellow
            font-size: .9rem
            padding: .35rem .6rem
            margin-left: .35rem
