.Verify
    padding: 3rem
    border: 1px solid transparent
    min-height: 15rem
    font-size: 1.2rem
    
    >div:first-child
        background-color: $light-manila
        padding: 2rem
        border-radius: .5rem
    
        >div:first-child
            margin-bottom: 1.5rem
            padding: .75rem
            background-color: $sun-red
            color: white
            border-radius: .5rem
            
        a
            color: black
            font-size: 2rem