.WeekOptions

    .content
        .data
            text-align: left
            
            .review-btn
                margin-left: 9rem
            
            ol
                display: flex
                flex-wrap: wrap
                width: 90%
                margin-top: 1rem
                
                .delivery-date
                    width: 5rem
                    background-color: #555
                    border: 1px solid beige
                    box-shadow: 1px 2px 5px $grey
                    color: darken($gold, 5%)
                    opacity: .7;
                    cursor: pointer
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    font-family: "RalewayRegular"
                    padding: .6rem 1.4rem
                    margin: 1px
                    line-height: 1.2
                    &.edited
                        border: 1px solid $edit-red

                    &:hover
                        background-color: lighten(#555, 5%)
                    
                    &.selected
                        background-color: rgba(201, 135, 2, .3)
                        color: $gold
                        opacity: 1
                        &.edited
                            border: 1px solid $edit-green
                    
                    &.unselectable
                        //background-color: rgba(85,85,85,0.1)
                        cursor: not-allowed
                        opacity: .3

                    >div
                        font-weight: bold
                        &:first-child
                            font-weight: normal
                    
        .edit-summary
            >div:nth-child(2)
                display: flex
                justify-content: center
                
                .column
                    text-align: center
                    padding: 0 1rem
                    
                    .added-dates
                        color: $edit-green
                            
                    .removed-dates
                        color: $edit-red
                    
                    >div:first-child
                        font-weight: bold
                        margin-bottom: .5rem