<div class="addresses" data-js="container">
    <div class="text-center">We were unable to find an exact match for your address, here are some suggestions</div>
    <div class="list-container" data-js="addresses"></div>
</div>
