<div class="shares col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2" data-js="container">
    <div class="share-intro">As a member in our CSA program, you would receive a weekly box of fresh-picked, chemical-free produce all grown at Patchwork Gardens, right here in the Miami Valley.</div>
    <div class="share-intro">
        <span>If you’re not quite sure you’re ready for a CSA, check out our</span>
        <span data-js="csaInfoBtn" class="btn-link">info</span>
        <span>page</span>
    </div>
    <div data-js="header" class="signup-header">Please select which seasons you would like to join us for.</div>
    <ul data-js="shares"></ul>
    <div class="error">Please select at least one share.</div>
</div>
