<div data-js="container" class="share-label vcenter">
    <div>{{label}}</div>
    <div>
        <span>{{humanStartdate}}</span>
        <span>-</span>
        <span>{{humanEnddate}}</span>
    </div>
    <div>{{duration}} weeks</div>
</div>
