<div data-js="container" class="share-option row">
    <div class="col-sm-7">{{label}}</div>
    <div class="col-sm-2">
        <select data-js="input" class="form-control">
            {{#each options}}
                <option value="{{id}}">{{label}}</option>
            {{/each}}
        </select>    
    </div>
    <div data-js="total" class="col-sm-3 total"></div>
</div>
