<div data-js="container" class="share-option row">
    <div class="option-title col-sm-5">{{label}}<span data-js="optionIcon" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></div>
    <div class="col-sm-3">
        <select data-js="input" class="form-control">
            {{#each options}}
                <option value="{{id}}">{{label}}</option>
            {{/each}}
        </select>    
    </div>
    <div data-js="total" class="col-sm-4 total"></div>
</div>
