<li data-js="container" class="col-xs-12">
    <div data-js="row" class="single-share row">
        <div data-js="shareBox" class="vcenter col-sm-3"></div>
        <div data-js="options" class="option vcenter col-sm-9"></div>
    </div>
    <div data-js="total" class="price"></div>
</li>
