<li data-js="container" class="col-xs-12">
    <div data-js="row" class="single-share row">
        <div class="share-label col-sm-3">
            <div>{{label}}</div>
            <div>{{duration}} weeks</div>
        </div>
    </div>
    <div class="price share-total-{{id}}"></div>
</li>
