<div>
    <div>Because you have selected home delivery, and your address could not be validated automatically, we would like you to verify your address and zip code</div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="verifiedAddress" value="{{address}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Zip Code</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="verifiedZipCode" value="{{zipCode}}">
            </div>
        </div>
    </form>
</div>
