.fd-hide
    opacity: 0
    transition: all .3s ease-in-out

.fd-hidden
    display: none !important
    
body.admin-plus
    background-color: #f9f9f9

ol
    -webkit-margin-before: 0rem
    -webkit-margin-after: 0rem
    -webkit-padding-start: 0rem
