.CustomerInfo

    .content
        .data            
            .customer-table 
                text-align: left
                            
                .table-row
                    align-items: center
                    border: 1px solid #000
                    background-color: #fff
                    display: flex
                   
                    div[contenteditable=true]
                        &:focus
                            outline: 0
                            background-color: $light-gold
                            color: #555

                    select
                        padding: 5px
                                               
                    .ms-ctn
                        margin: 0 .15rem
                        overflow: visible
                        padding-right: 0
                        width: 50%
                        
                        .ms-res-item
                            .produce-family
                                font-weight: bold

                            .produce-in-family
                                margin-left: 1rem
                                font-weight: normal
                        
                        .ms-sel-ctn
                            margin-left: 0
                            overflow-x: auto
                            margin-right: 25px
                        
                        .ms-trigger
                            background-color: #eee
                            .ms-trigger-ico
                                margin-top: 12px
                    
                    .ms-ctn-focus
                        box-shadow: none
                
                    &.address
                        height: 3.25rem
                        line-height: 2.75rem

                    &.neverReceive
                        white-space: inherit
