.CustomerInfo

    .content .data            
            .customer-table 
                text-align: left
                            
                .table-row
                    display: flex
                    align-items: center
                    
                    div[contenteditable=true]
                        &:focus
                            outline: 0
                            background-color: #fce1ac
                            color: #555
                        
                    select
                        padding: 5px
                                               
                    .ms-ctn
                        padding-right: 0
                        overflow-x: visible
                        
                        .ms-sel-ctn
                            margin-left: 0
                            overflow-x: hidden
                        
                        .ms-trigger
                            background-color: #eee
                            .ms-trigger-ico
                                margin-top: 12px
                    
                    .ms-ctn-focus
                        box-shadow: none
                   
    .produce-family
        font-weight: bold

    .produce-in-family
        margin-left: 1rem
        font-weight: normal

