.form-grouping
    margin-bottom: 1rem
    &.horizontal
        display: flex
        align-items: center
        
        .form-label            
            text-align: right
            margin-right: 1rem
            margin-bottom: 0

.input-std
    position: relative
    background-color: #fff
    padding: .5rem
    border: 1px solid #666
    border-radius: .2rem
    &:focus
        outline: 0
        box-shadow: 0 0 3px 1px #ccc
    
.form-label
    display: inline-block
    font-size: .95rem
    font-weight: 700
    margin-bottom: .5rem
  