.form-grouping
    margin-bottom: 1rem
    &.horizontal
        display: flex
        align-items: center
        
        .form-input
            margin-left: .5rem
        .form-label
            width: 6%
            text-align: right
            margin-right: 1rem

.input-std
    display: block
    position: relative
    background-color: #fff
    padding: $input-padding
    border: 2px solid #666
    border-radius: .2rem
    transition: $input-transition
    &:focus
        outline: 0
        box-shadow: 0 0 1px 1px #999
    
.form-label
    display: inline-block
    font-size: .95rem
    font-weight: 700
    margin-bottom: .5rem
        
.input-flat
    display: block
    padding: $input-padding
    border-top: none
    border-left: none
    border-right: none
    border-bottom: 3px solid $dark-gray
    transition: $input-transition
    &:focus
        background-color: #ddd
    style-placeholder()
        
.input-borderless
    display: block
    background-color: #ddd
    padding: $input-padding
    border: none
    transition: $input-transition
    &:focus
        background-color: #eee
    style-placeholder()
  
.valid
    form-validation($valid-green)
    
.error
    form-validation($error-red)  