.manage-customer
    margin: 100px 15px 15px
    
    .form-label
        color: $gold
        font-size: 20px

    h3
        color: #c98702
        font-weight: bold

    .table-row
        display: flex
        align-items: center

        .cell
            padding: 1px 5px
            border: 1px solid black
            font-size: .9rem
            font-weight: bold
            width: 250px
            overflow-x: hidden
            white-space: nowrap