.ManageCustomer
    padding: 7rem 1.5rem 1.5rem

    button
        display: inline-block
        font-size: .8rem
        border: 1px solid transparent
        padding: .25rem .8rem
        letter-spacing: 1px
        margin: 0
        text-align: center
        border-radius: .25rem
        color: white
        &:focus
            outline: 0

    .main-search
        display:flex
        justify-content: center
        align-items: center
        
        .form-grouping
            margin: 0
        
            input
                display: inline-block
                font-size: 1.2rem
                padding: .75rem .5rem
                width: 400px
        
            .form-label
                color: $gold
                font-size: 1.4rem

    h3
        display: inline-block
        color: #c98702
        font-weight: bold
        margin-top: 2rem
        font-size: 1.2rem
    
    ol
        margin-bottom: 0
        -webkit-padding-start: 0
        
    .cell, .ms-ctn
        background-color: white
        padding: 3px 5px
        height: 30px
        border: 1px solid black
        font-size: .9rem
        font-weight: bold
        width: 250px
        overflow-x: hidden
        white-space: nowrap
        
    .edited
        color: rgba(57, 132, 57, .8)
        
    button
        display: inline-block
        font-size: .8rem
        border: 1px solid transparent
        padding: .25rem .8rem
        letter-spacing: 1px
        margin: 0
        text-align: center
        border-radius: .25rem
        color white
        &:focus
            outline: 0
        &.reset-btn
            background-color: #FF9D14
            margin: .5rem
        &.review-btn
            background-color: #155D75
            margin: .5rem 0 0
        &.save-btn
            background-color: rgba(57, 132, 57, .9)
            
    select:focus
        outline: 0

    .content
        display:flex
        
        .data
            text-align: center
                    
        .edit-summary
            margin-left: 3rem
            border: 1px solid rgba(0,0,0,.1)
            display: flex
            flex-direction: column
            background-color: #fff
            font-weight: bold
            min-width: 30%
            
            >div
                &:first-child
                    border-bottom: 1px solid rgba(0,0,0,.1)
                    padding: .5rem
                    font-weight: bold
                    font-family: "RalewayRegular"
                    background-color: #e7e7e7
                    color: #666
                    
                &:nth-child(2)
                    flex: 1 1 auto
                    padding: 1rem
                    >div
                        padding-bottom: .25rem
                        >span
                            padding: 0 1rem
                            font-weight: normal
                            &:first-child
                                color: rgba(169, 23, 23, .7)
                            &:last-child
                                color: rgba(57, 132, 57, .8)
                                
                &:nth-child(3)
                    border-top: 1px solid rgba(0,0,0,.1)
                    padding: .5rem
                    text-align: center
        
    .CustomerInfo, .Seasons, .OrderOptions, .WeekOptions, .Transactions
        border-top: 1px solid #eee
        margin-top: 2rem
