.ManageCustomer
    padding: 7rem 1.5rem 1.5rem
    
    .main-search
        display:flex
        justify-content: center
        align-items: center
        
        .form-grouping
            margin: 0
        
            input
                display: inline-block
                font-size: 1.2rem
                padding: .75rem .5rem
        
            .form-label
                color: $gold
                font-size: 1.4rem

    h3
        color: #c98702
        font-weight: bold
        margin-top: 2rem
        padding-top: 2rem
        font-size: 1.2rem
        border-top: 1px solid #eee
    
    ol
        -webkit-padding-start: 0
        
    .table-row
        display: flex
        align-items: center

        .cell
            background-color: white
            padding: 1px 5px
            border: 1px solid black
            font-size: .9rem
            font-weight: bold
            width: 250px
            overflow-x: hidden
            white-space: nowrap