.Reporting
    padding: 7rem 1.5rem 1.5rem

    h4
        text-align: center

    form
        display: flex
        text-align: center

        >*
            flex: 1

            button
                margin: 0rem 1rem

    .results
        overflow: auto
        padding: 1rem

        .columns
            text-align: center

        .columns, .rows > ol
            display: flex

            li
                border: 1px solid
                flex: 1
                padding: .5rem
