.SharePatch
    background-color: white
    padding: .5rem
    border-radius: 1rem
    margin: 1rem

    .section-heading
        display: block
        text-align: center
        margin-bottom: 1.5rem

    .content
        >div
            margin: auto

            li
                .adjustment
                    float: right
                    font-size: 1.1rem
                    font-weight: bold

                &.line-item
                    border-bottom: 1px solid lightgray
                    padding-bottom: .25rem
                    margin-bottom: 1rem

                &:last-child
                    color: $gold
                    font-size: 1.25rem
                    text-align: center

                span
                    margin: 0 .5rem


            .ButtonFlow 
                text-align: center 
                
                .save-btn
                    margin: 1rem
