.SharePatch
    background-color: white
    padding: .5rem
    border-radius: 1rem
    margin: 1rem

    .section-heading
        display: block
        text-align: center

    .content
        font-weight: bold
        font-size: 1.1rem

        >ul
            margin: auto

            li
                border-bottom: 1px solid

                .adjustment
                    float: right

        .line-item
            border-bottom: 1px solid
