.Transactions

    .heading
        display: flex

        >h3, >span
            border: none
            flex: 4
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
                
            &:last-child
                flex: 6
            
            &:first-child
                flex: 1
    
    ol
        li
            display: flex
            position: relative

            span
                flex: 4
                padding: 1rem

                &.cell
                    background-color: transparent
                    padding: .25rem
                    border: 1px solid black
                    font-weight: bold
                    overflow-x: auto
                    overflow-y: hidden
                    text-align: center
                    white-space: nowrap

                &.negative
                    color: red
                
                &.negative:before
                    content: '('
                
                &.negative:after
                    content: ')'

                &:last-child
                    text-align: left
                    flex: 6
                
                &:first-child
                    padding: 0px
                    position: relative
                    text-align: left
                    flex: 1

            .ButtonFlow            
                height: 100%

                .start
                    display: flex
                    height: 100%

                    .garbage, .edit
                        flex: 1
                        padding: .2rem

                .onDelete
                    background-color: $edit-red
                    height: 100%
                
                .onEdit
                    background-color: $edit-green
                    height: 100%

                .ex
                    position: absolute
                    right: 0rem
                    top: 0.1rem
                    width: 0.5rem

                    &:hover
                        stroke: red
                
                .link
                    color: white
                    font-size: .5rem
                    padding: 0px
                    vertical-align: sub
                    width: 100%

            &.confirming-delete
                background-color: rgba( 0, 0, 0, .2 )

    .balance
        display: flex

        h3, span
            flex: 2
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
            text-align: center
                
            &:last-child
                flex: 4
