.Transactions

    .buttons
        display: flex
        
        button
            flex: 1
            border: 1px solid black
            border-radius: 0

    .heading
        display: flex

        >h3, >span
            border: none
            flex: 2
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
                
            &:last-child
                flex: 4

    ol
        li
            display: flex
            position: relative

            span
                flex: 2
                padding: 1rem

                &.cell
                    background-color: transparent
                    padding: .25rem
                    border: 1px solid black
                    font-size: .9rem
                    font-weight: bold
                    overflow-x: auto
                    text-align: center
                    white-space: nowrap

                &.negative
                    color: red
                
                &.negative:before
                    content: '('
                
                &.negative:after
                    content: ')'

                &:last-child
                    text-align: left
                    flex: 4
            
            .ex
                left: .5rem

            .edit
                left: 1.5rem

            .ex, .edit
                cursor: pointer
                display: none
                height: 1rem
                position: absolute
                top: .5rem
                width: .75rem

            &:hover
                .ex, .edit
                    display: block

            &.marked
                background-color: black
                background-opacity: .5

    .add
        border: 1px solid black
        display: flex

        >select, >input
            flex: 2
            margin: .25rem
            
            &:last-child
                flex: 4

    .balance
        display: flex

        h3, span
            flex: 2
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
            text-align: center
                
            &:last-child
                flex: 4
