.Transactions

    .buttons
        display: flex
        
        button
            flex: 1
            border: 1px solid black
            border-radius: 0

    .heading
        display: flex

        >h3, >span
            border: none
            flex: 2
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
                
            &:last-child
                flex: 4

    ol
        li
            display: flex

            span
                flex: 2
                padding: 1rem

                &.cell
                    background-color: white
                    padding: .25rem
                    height: 30px
                    border: 1px solid black
                    font-size: .9rem
                    font-weight: bold
                    overflow-x: auto
                    text-align: center
                    white-space: nowrap

                &.negative
                    color: red
                
                &.negative:before
                    content: '('
                
                &.negative:after
                    content: ')'

                &:last-child
                    text-align: left
                    flex: 4

    .add
        border: 1px solid black
        display: flex

        >select, >input
            flex: 2
            margin: .25rem
            
            &:last-child
                flex: 4

    .balance
        display: flex

        h3, span
            flex: 2
            font-size: 1rem
            margin: 0rem
            padding: .25rem
            line-height: 1rem
            text-align: center
                
            &:last-child
                flex: 4
